Repository openiddict/openiddict-core, pull requests merged in 2022-11, with the labels that each got.

#1556 Unify the instantiation of cryptographic algorithms
  Directory.Build.targets
  shared/OpenIddict.Extensions/Helpers/OpenIddictHelpers.cs
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationBuilder.cs
  src/OpenIddict.Client/OpenIddictClientBuilder.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Protection.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
  src/OpenIddict.Core/Managers/OpenIddictApplicationManager.cs
  src/OpenIddict.Core/Managers/OpenIddictTokenManager.cs
  src/OpenIddict.Server.AspNetCore/OpenIddict.Server.AspNetCore.csproj
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreHandlers.Authentication.cs
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreHandlers.Session.cs
  src/OpenIddict.Server.Owin/OpenIddict.Server.Owin.csproj
  src/OpenIddict.Server.Owin/OpenIddictServerOwinHandlers.Authentication.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinHandlers.Session.cs
  src/OpenIddict.Server/OpenIddictServerBuilder.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Discovery.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Exchange.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Protection.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHandlers.cs
  src/OpenIddict.Validation/OpenIddictValidationBuilder.cs
  test/OpenIddict.Server.AspNetCore.IntegrationTests/OpenIddictServerAspNetCoreIntegrationTestServer.cs
  test/OpenIddict.Server.AspNetCore.IntegrationTests/OpenIddictServerAspNetCoreIntegrationTests.cs
  test/OpenIddict.Server.Owin.IntegrationTests/OpenIddictServerOwinIntegrationTestServer.cs
  test/OpenIddict.Server.Owin.IntegrationTests/OpenIddictServerOwinIntegrationTests.cs
  test/OpenIddict.Validation.AspNetCore.IntegrationTests/OpenIddictValidationAspNetCoreIntegrationTestServer.cs
  test/OpenIddict.Validation.AspNetCore.IntegrationTests/OpenIddictValidationAspNetCoreIntegrationTests.cs
  test/OpenIddict.Validation.Owin.IntegrationTests/OpenIddictValidationOwinIntegrationTestServer.cs
  test/OpenIddict.Validation.Owin.IntegrationTests/OpenIddictValidationOwinIntegrationTests.cs
Labels: enhancement, server stack, client stack, core stack

#1557 Bump PolySharp to 1.7.1
  Directory.Build.props
Labels: dependencies

#1545 Start testing OpenIddict on .NET 7.0
  Directory.Build.targets
  Packages.props
  global.json
  sandbox/OpenIddict.Sandbox.AspNetCore.Client/OpenIddict.Sandbox.AspNetCore.Client.csproj
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/OpenIddict.Sandbox.AspNetCore.Server.csproj
  src/OpenIddict.Abstractions/OpenIddict.Abstractions.csproj
  src/OpenIddict.AspNetCore/OpenIddict.AspNetCore.csproj
  src/OpenIddict.Client.AspNetCore/OpenIddict.Client.AspNetCore.csproj
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreConfiguration.cs
  src/OpenIddict.Client.DataProtection/OpenIddict.Client.DataProtection.csproj
  src/OpenIddict.Client.SystemNetHttp/OpenIddict.Client.SystemNetHttp.csproj
  src/OpenIddict.Client.WebIntegration/OpenIddict.Client.WebIntegration.csproj
  src/OpenIddict.Client/OpenIddict.Client.csproj
  src/OpenIddict.Core/OpenIddict.Core.csproj
  src/OpenIddict.EntityFramework/OpenIddict.EntityFramework.csproj
  src/OpenIddict.EntityFrameworkCore/OpenIddict.EntityFrameworkCore.csproj
  src/OpenIddict.MongoDb/OpenIddict.MongoDb.csproj
  src/OpenIddict.Quartz/OpenIddict.Quartz.csproj
  src/OpenIddict.Server.AspNetCore/OpenIddict.Server.AspNetCore.csproj
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreConfiguration.cs
  src/OpenIddict.Server.DataProtection/OpenIddict.Server.DataProtection.csproj
  src/OpenIddict.Server/OpenIddict.Server.csproj
  src/OpenIddict.Validation.AspNetCore/OpenIddict.Validation.AspNetCore.csproj
  src/OpenIddict.Validation.AspNetCore/OpenIddictValidationAspNetCoreConfiguration.cs
  src/OpenIddict.Validation.DataProtection/OpenIddict.Validation.DataProtection.csproj
  src/OpenIddict.Validation.SystemNetHttp/OpenIddict.Validation.SystemNetHttp.csproj
  src/OpenIddict.Validation/OpenIddict.Validation.csproj
  src/OpenIddict/OpenIddict.csproj
  test/OpenIddict.Abstractions.Tests/OpenIddict.Abstractions.Tests.csproj
  test/OpenIddict.Client.AspNetCore.IntegrationTests/OpenIddict.Client.AspNetCore.IntegrationTests.csproj
  test/OpenIddict.Client.IntegrationTests/OpenIddict.Client.IntegrationTests.csproj
  test/OpenIddict.Core.Tests/OpenIddict.Core.Tests.csproj
  test/OpenIddict.EntityFramework.Tests/OpenIddict.EntityFramework.Tests.csproj
  test/OpenIddict.EntityFrameworkCore.Tests/OpenIddict.EntityFrameworkCore.Tests.csproj
  test/OpenIddict.MongoDb.Tests/OpenIddict.MongoDb.Tests.csproj
  test/OpenIddict.Quartz.Tests/OpenIddict.Quartz.Tests.csproj
  test/OpenIddict.Server.AspNetCore.IntegrationTests/OpenIddict.Server.AspNetCore.IntegrationTests.csproj
  test/OpenIddict.Server.IntegrationTests/OpenIddict.Server.IntegrationTests.csproj
  test/OpenIddict.Server.Tests/OpenIddict.Server.Tests.csproj
  test/OpenIddict.Validation.AspNetCore.IntegrationTests/OpenIddict.Validation.AspNetCore.IntegrationTests.csproj
  test/OpenIddict.Validation.IntegrationTests/OpenIddict.Validation.IntegrationTests.csproj
Labels: work in progress, dependencies

#1560 Rework the correlation cookie mechanism to use the nonce as the cookie name and store the request forgery protection in the cookie value
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreHandlers.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinHandlers.cs
  src/OpenIddict.Client/OpenIddictClientEvents.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
  src/OpenIddict.Core/Managers/OpenIddictApplicationManager.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Exchange.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.cs
Labels: enhancement, important, client stack

#1561 Bump the .NET 7.0 SDK and dependencies to 7.0 RTM
  Packages.props
  global.json
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
Labels: dependencies

#1563 Fix global.json to reference Arcade 7.0.0-beta.22513.4
  global.json
  test/OpenIddict.Abstractions.Tests/Primitives/OpenIddictConverterTests.cs
  test/OpenIddict.Abstractions.Tests/Primitives/OpenIddictMessageTests.cs
  test/OpenIddict.Abstractions.Tests/Primitives/OpenIddictParameterTests.cs
  test/OpenIddict.Server.AspNetCore.IntegrationTests/OpenIddictServerAspNetCoreIntegrationTests.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Discovery.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.cs
Labels: bug, dependencies

#1565 Use NuGet Central Package Management
  Directory.Build.props
  Directory.Build.targets
  Directory.Packages.props
  NuGet.config
  OpenIddict.sln
  Packages.props
  sandbox/OpenIddict.Sandbox.AspNet.Client/OpenIddict.Sandbox.AspNet.Client.csproj
  sandbox/OpenIddict.Sandbox.AspNet.Server/OpenIddict.Sandbox.AspNet.Server.csproj
Labels: enhancement, dependencies

#1566 Bump the GitHub Actions to their latest versions
  .github/workflows/build.yml
  .github/workflows/issue.yml
  .github/workflows/push.yml
  OpenIddict.sln
Labels: dependencies

#1568 Bump .NET dependencies
  Directory.Packages.props
  global.json
  sandbox/OpenIddict.Sandbox.AspNet.Client/Web.config
  sandbox/OpenIddict.Sandbox.AspNet.Server/Web.config
Labels: dependencies

#1569 Add a new OpenIddictAuthorizationManager.CreateAsync() overload and improve OpenIddictScopeManager.ListResourcesAsync()
  sandbox/OpenIddict.Sandbox.AspNet.Server/Controllers/AuthorizationController.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/Controllers/AuthorizationController.cs
  src/OpenIddict.Abstractions/Managers/IOpenIddictAuthorizationManager.cs
  src/OpenIddict.Core/Managers/OpenIddictAuthorizationManager.cs
  src/OpenIddict.Core/Managers/OpenIddictScopeManager.cs
Labels: enhancement, core stack

#1570 Update the samples to demonstrate how to override the claims resolved from authorization codes/refresh tokens
  sandbox/OpenIddict.Sandbox.AspNet.Server/Controllers/AuthorizationController.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/Controllers/AuthorizationController.cs
Labels: enhancement

#1571 Add AddClaim()/SetClaim() overloads accepting bool and long values
  src/OpenIddict.Abstractions/Primitives/OpenIddictExtensions.cs
  test/OpenIddict.Abstractions.Tests/Primitives/OpenIddictExtensionsTests.cs
Labels: enhancement

#1572 Make provider options a first-class property in OpenIddictClientRegistration
  gen/OpenIddict.Client.WebIntegration.Generators/OpenIddictClientWebIntegrationGenerator.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationConstants.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHelpers.cs
  src/OpenIddict.Client/OpenIddictClientRegistration.cs
Labels: enhancement, client stack, web providers

#1574 Rework the AuthenticateWithClientCredentialsAsync()/AuthenticateWithPasswordAsync()/AuthenticateWithRefreshTokenAsync() APIs to be easier to use and more flexible
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client/OpenIddictClientEvents.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
  src/OpenIddict.Client/OpenIddictClientService.cs
  src/OpenIddict.Validation/OpenIddictValidationService.cs
Labels: enhancement, client stack

#1573 Attach a TriggerKey to the Quartz.NET trigger registered by OpenIddict
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Quartz/OpenIddictQuartzConfiguration.cs
  src/OpenIddict.Quartz/OpenIddictQuartzJob.cs
  test/OpenIddict.Quartz.Tests/OpenIddictQuartzConfigurationTests.cs
Labels: enhancement

#1575 Decorate advanced infrastructure types with [EditorBrowsable(EditorBrowsableState.Advanced)] or [EditorBrowsable(EditorBrowsableState.Never)]
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreConfiguration.cs
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreFeature.cs
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreHandler.cs
  src/OpenIddict.Client.DataProtection/IOpenIddictClientDataProtectionFormatter.cs
  src/OpenIddict.Client.DataProtection/OpenIddictClientDataProtectionConfiguration.cs
  src/OpenIddict.Client.DataProtection/OpenIddictClientDataProtectionFormatter.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinConfiguration.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinHandler.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinMiddleware.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinMiddlewareFactory.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpConfiguration.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationConfiguration.cs
  src/OpenIddict.Client/IOpenIddictClientDispatcher.cs
  src/OpenIddict.Client/IOpenIddictClientFactory.cs
  src/OpenIddict.Client/OpenIddictClientConfiguration.cs
  src/OpenIddict.Client/OpenIddictClientDispatcher.cs
  src/OpenIddict.Client/OpenIddictClientFactory.cs
  src/OpenIddict.Client/OpenIddictClientRetriever.cs
  src/OpenIddict.Client/OpenIddictClientTransaction.cs
  src/OpenIddict.MongoDb/IOpenIddictMongoDbContext.cs
  src/OpenIddict.MongoDb/OpenIddictMongoDbContext.cs
  src/OpenIddict.Quartz/OpenIddictQuartzConfiguration.cs
  src/OpenIddict.Quartz/OpenIddictQuartzJob.cs
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreConfiguration.cs
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreFeature.cs
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreHandler.cs
  src/OpenIddict.Server.DataProtection/IOpenIddictServerDataProtectionFormatter.cs
  src/OpenIddict.Server.DataProtection/OpenIddictServerDataProtectionConfiguration.cs
  src/OpenIddict.Server.DataProtection/OpenIddictServerDataProtectionFormatter.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinConfiguration.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinHandler.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinMiddleware.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinMiddlewareFactory.cs
  src/OpenIddict.Server/IOpenIddictServerDispatcher.cs
  src/OpenIddict.Server/IOpenIddictServerFactory.cs
  src/OpenIddict.Server/OpenIddictServerConfiguration.cs
  src/OpenIddict.Server/OpenIddictServerDispatcher.cs
  src/OpenIddict.Server/OpenIddictServerFactory.cs
  src/OpenIddict.Server/OpenIddictServerTransaction.cs
  src/OpenIddict.Validation.AspNetCore/OpenIddictValidationAspNetCoreConfiguration.cs
  src/OpenIddict.Validation.AspNetCore/OpenIddictValidationAspNetCoreFeature.cs
  src/OpenIddict.Validation.AspNetCore/OpenIddictValidationAspNetCoreHandler.cs
  src/OpenIddict.Validation.DataProtection/IOpenIddictValidationDataProtectionFormatter.cs
  src/OpenIddict.Validation.DataProtection/OpenIddictValidationDataProtectionConfiguration.cs
  src/OpenIddict.Validation.DataProtection/OpenIddictValidationDataProtectionFormatter.cs
  src/OpenIddict.Validation.Owin/OpenIddictValidationOwinConfiguration.cs
  src/OpenIddict.Validation.Owin/OpenIddictValidationOwinHandler.cs
  src/OpenIddict.Validation.Owin/OpenIddictValidationOwinMiddleware.cs
  src/OpenIddict.Validation.Owin/OpenIddictValidationOwinMiddlewareFactory.cs
  src/OpenIddict.Validation.ServerIntegration/OpenIddictValidationServerIntegrationConfiguration.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpConfiguration.cs
  src/OpenIddict.Validation/IOpenIddictValidationDispatcher.cs
  src/OpenIddict.Validation/IOpenIddictValidationFactory.cs
  src/OpenIddict.Validation/OpenIddictValidationConfiguration.cs
  src/OpenIddict.Validation/OpenIddictValidationDispatcher.cs
  src/OpenIddict.Validation/OpenIddictValidationFactory.cs
  src/OpenIddict.Validation/OpenIddictValidationRetriever.cs
  src/OpenIddict.Validation/OpenIddictValidationTransaction.cs
Labels: server stack, validation stack, client stack

#1576 Decorate OpenIddictValidationFactory with [EditorBrowsable(EditorBrowsableState.Never)] instead of [EditorBrowsable(EditorBrowsableState.Advanced)]
  src/OpenIddict.Validation/OpenIddictValidationFactory.cs
Labels: validation stack

#1580 Replace Portable.BouncyCastle by BouncyCastle.Cryptography
  Directory.Packages.props
  shared/OpenIddict.Extensions/Helpers/OpenIddictHelpers.cs
  src/OpenIddict.Client/OpenIddict.Client.csproj
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
  src/OpenIddict.Core/Managers/OpenIddictApplicationManager.cs
  src/OpenIddict.Core/OpenIddict.Core.csproj
  src/OpenIddict.Server/OpenIddict.Server.csproj
  src/OpenIddict.Server/OpenIddictServerHandlers.Exchange.cs
Labels: server stack, client stack, core stack

#1581 Split the .NET Framework package versions into separate 4.6.1/4.7.2/4.8 groups
  Directory.Packages.props
Labels: dependencies

#1582 Remove the .NET Core 2.1 package versions from Directory.Packages.props
  Directory.Packages.props
Labels: dependencies

#1583 Reject authorization code/device authorization code grant requests containing a "scope" parameter
  src/OpenIddict.Server/OpenIddictServerHandlers.Exchange.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Exchange.cs
Labels: enhancement, server stack

#1587 Use System.Index in additional places
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreHandlers.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinHandlers.cs
  src/OpenIddict.Validation.AspNetCore/OpenIddictValidationAspNetCoreHandlers.cs
  src/OpenIddict.Validation.Owin/OpenIddictValidationOwinHandlers.cs
Labels: enhancement

#1589 Introduce Allow*Flow() methods in the client stack to control what grant types/response types/response modes/code challenge methods are enabled
  Directory.Build.targets
  sandbox/OpenIddict.Sandbox.AspNet.Client/Startup.cs
  sandbox/OpenIddict.Sandbox.AspNet.Server/Startup.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Client/Startup.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/Startup.cs
  shared/OpenIddict.Extensions/Helpers/OpenIddictHelpers.cs
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client/OpenIddictClientBuilder.cs
  src/OpenIddict.Client/OpenIddictClientConfiguration.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
  src/OpenIddict.Client/OpenIddictClientOptions.cs
  src/OpenIddict.Client/OpenIddictClientRegistration.cs
  src/OpenIddict.Client/OpenIddictClientService.cs
  src/OpenIddict.Core/Managers/OpenIddictAuthorizationManager.cs
  src/OpenIddict.EntityFramework/Stores/OpenIddictEntityFrameworkAuthorizationStore.cs
  src/OpenIddict.EntityFrameworkCore/Stores/OpenIddictEntityFrameworkCoreAuthorizationStore.cs
  src/OpenIddict.Server/OpenIddictServerConfiguration.cs
  src/OpenIddict.Server/OpenIddictServerEvents.Discovery.cs
  src/OpenIddict.Server/OpenIddictServerEvents.Introspection.cs
  src/OpenIddict.Server/OpenIddictServerEvents.Userinfo.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Authentication.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Device.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Exchange.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.cs
  src/OpenIddict.Validation/OpenIddictValidationBuilder.cs
  src/OpenIddict.Validation/OpenIddictValidationConfiguration.cs
Labels: enhancement, client stack

#1590 Add Trakt to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Userinfo.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#1592 Update build.yml to install the .NET SDK before launching .NET Arcade
  .github/workflows/build.yml
  global.json
Labels: bug

#1594 Add Mixcloud to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Userinfo.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#1593 Remove the HttpContext.SignInAsync() workaround from the client samples
  sandbox/OpenIddict.Sandbox.AspNetCore.Client/Controllers/AuthenticationController.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/Controllers/AuthenticationController.cs
Labels: enhancement

#1596 Add refresh_token to the list of grant types supported by LinkedIn
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#1597 Add refresh_token to the list of grant types supported by Trakt
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#1598 Add refresh_token to the list of grant types supported by Twitter
  sandbox/OpenIddict.Sandbox.AspNetCore.Client/Startup.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#1595 Update the Google integration to support the access_type parameter
  sandbox/OpenIddict.Sandbox.AspNet.Client/Controllers/HomeController.cs
  sandbox/OpenIddict.Sandbox.AspNet.Client/Startup.cs
  sandbox/OpenIddict.Sandbox.AspNet.Client/Views/Home/Index.cshtml
  sandbox/OpenIddict.Sandbox.AspNetCore.Client/Controllers/HomeController.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Client/Startup.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Client/Views/Home/Index.cshtml
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#1599 Update the Reddit integration to support the duration parameter
  sandbox/OpenIddict.Sandbox.AspNetCore.Client/Startup.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#1600 Use a case-insensitive comparer for PayPal environments
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Discovery.cs
Labels: enhancement, web providers

#1586 Add Cognito client provider
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#1601 Abort authentication demands with an explicit grant type if it's not listed as supported in the server configuration
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Discovery.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHandlers.cs
Labels: enhancement

#1603 Introduce a new DisableTransportSecurityRequirement() option in the OpenIddict client ASP.NET Core and OWIN hosts
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/Startup.cs
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreBuilder.cs
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreExtensions.cs
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreHandlerFilters.cs
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreHandlers.cs
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreOptions.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinBuilder.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinExtensions.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinHandlerFilters.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinHandlers.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinOptions.cs
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreHandlers.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinHandlers.cs
Labels: enhancement, client stack

#1604 Add Yahoo to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#1607 Add response_type=none support in the client stack and revamp the grant_type/response_type negotiation logic
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client/OpenIddictClientBuilder.cs
  src/OpenIddict.Client/OpenIddictClientConfiguration.cs
  src/OpenIddict.Client/OpenIddictClientHandlerFilters.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
  src/OpenIddict.Server/OpenIddictServerBuilder.cs
  src/OpenIddict.Server/OpenIddictServerConfiguration.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Authentication.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Authentication.cs
Labels: client stack

#1608 Add "implicit" to the list of grant types supported by Google
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Discovery.cs
Labels: web providers
