Repository openiddict/openiddict-core, pull requests merged in 2022-12, with the labels that each got.

#1609 Add new OpenIddictClientService overloads accepting a provider name instead of an issuer URI
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client/OpenIddictClientService.cs
Labels: enhancement, client stack

#1615 Update the order of the ResolveClientRegistrationFromStateToken handler
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
Labels: bug, client stack

#1616 Update the System.Net.Http integrations to support sending a contact address via the Form HTTP header
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpBuilder.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.Discovery.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.Exchange.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.Userinfo.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpOptions.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpBuilder.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHandlers.Discovery.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHandlers.Introspection.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHandlers.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpOptions.cs
Labels: enhancement, validation stack, client stack

#1617 Support OpenIddictClientOptions.ClientUri/OpenIddictServerOptions.Issuer/OpenIddictValidationOptions.Issuer URIs created with DangerousDisablePathAndQueryCanonicalization=true
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client/OpenIddictClientHandlers.Discovery.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Protection.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Protection.cs
  src/OpenIddict.Validation/OpenIddictValidationHandlers.Protection.cs
Labels: enhancement

#1618 Update RepositoryUrl to use a HTTPS URL
  Directory.Build.props
Labels: enhancement

#1619 Update ProcessChallengeContext/ProcessSignOutContext.Nonce's documentation to emphasize that nonces should be generated using a crypto-secure RNG
  src/OpenIddict.Client/OpenIddictClientEvents.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Protection.cs
Labels: enhancement, client stack

#1620 Unify the token entry properties restoration logic and fix an issue affecting device codes and ASP.NET Core Data Protection
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client.DataProtection/OpenIddictClientDataProtectionHandlers.Protection.cs
  src/OpenIddict.Client/OpenIddictClientBuilder.cs
  src/OpenIddict.Client/OpenIddictClientEvents.Protection.cs
  src/OpenIddict.Client/OpenIddictClientExtensions.cs
  src/OpenIddict.Client/OpenIddictClientHandlerFilters.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Protection.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
  src/OpenIddict.Client/OpenIddictClientOptions.cs
  src/OpenIddict.Server.DataProtection/OpenIddictServerDataProtectionHandlers.Protection.cs
  src/OpenIddict.Server/OpenIddictServerEvents.Protection.cs
  src/OpenIddict.Server/OpenIddictServerExtensions.cs
  src/OpenIddict.Server/OpenIddictServerHandlerFilters.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Protection.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.cs
  src/OpenIddict.Validation.DataProtection/OpenIddictValidationDataProtectionHandlers.Protection.cs
  src/OpenIddict.Validation/OpenIddictValidationEvents.Protection.cs
  src/OpenIddict.Validation/OpenIddictValidationExtensions.cs
  src/OpenIddict.Validation/OpenIddictValidationHandlerFilters.cs
  src/OpenIddict.Validation/OpenIddictValidationHandlers.Protection.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Exchange.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.cs
Labels: bug, server stack, validation stack, client stack

#1621 Prevent enabling the device authorization flow when token storage is disabled (unless the degraded mode is used)
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Server/OpenIddictServerConfiguration.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Authentication.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Device.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Exchange.cs
Labels: enhancement

#1622 Remove the unnecessary ValidateTokenContext.AuthorizationId property
  src/OpenIddict.Client/OpenIddictClientEvents.Protection.cs
  src/OpenIddict.Client/OpenIddictClientExtensions.cs
  src/OpenIddict.Client/OpenIddictClientHandlerFilters.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Protection.cs
Labels: client stack

#1623 Add XML documentation to the dispatcher/factory/handler filter classes
  gen/OpenIddict.Client.WebIntegration.Generators/OpenIddictClientWebIntegrationGenerator.cs
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreConfiguration.cs
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreHandlerFilters.cs
  src/OpenIddict.Client.DataProtection/OpenIddictClientDataProtectionConfiguration.cs
  src/OpenIddict.Client.DataProtection/OpenIddictClientDataProtectionHandlerFilters.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinConfiguration.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinHandlerFilters.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpConfiguration.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlerFilters.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationConfiguration.cs
  src/OpenIddict.Client/IOpenIddictClientDispatcher.cs
  src/OpenIddict.Client/IOpenIddictClientFactory.cs
  src/OpenIddict.Client/IOpenIddictClientHandlerFilter.cs
  src/OpenIddict.Client/OpenIddictClientConfiguration.cs
  src/OpenIddict.Client/OpenIddictClientDispatcher.cs
  src/OpenIddict.Client/OpenIddictClientFactory.cs
  src/OpenIddict.Client/OpenIddictClientHandlerFilters.cs
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreConfiguration.cs
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreHandlerFilters.cs
  src/OpenIddict.Server.DataProtection/OpenIddictServerDataProtectionConfiguration.cs
  src/OpenIddict.Server.DataProtection/OpenIddictServerDataProtectionHandlerFilters.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinConfiguration.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinHandlerFilters.cs
  src/OpenIddict.Server/IOpenIddictServerDispatcher.cs
  src/OpenIddict.Server/IOpenIddictServerFactory.cs
  src/OpenIddict.Server/IOpenIddictServerHandlerFilter.cs
  src/OpenIddict.Server/OpenIddictServerConfiguration.cs
  src/OpenIddict.Server/OpenIddictServerDispatcher.cs
  src/OpenIddict.Server/OpenIddictServerFactory.cs
  src/OpenIddict.Server/OpenIddictServerHandlerFilters.cs
  src/OpenIddict.Validation.AspNetCore/OpenIddictValidationAspNetCoreConfiguration.cs
  src/OpenIddict.Validation.AspNetCore/OpenIddictValidationAspNetCoreHandlerFilters.cs
  src/OpenIddict.Validation.DataProtection/OpenIddictValidationDataProtectionConfiguration.cs
  src/OpenIddict.Validation.Owin/OpenIddictValidationOwinConfiguration.cs
  src/OpenIddict.Validation.Owin/OpenIddictValidationOwinHandlerFilters.cs
  src/OpenIddict.Validation.ServerIntegration/OpenIddictValidationServerIntegrationConfiguration.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpConfiguration.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHandlerFilters.cs
  src/OpenIddict.Validation/IOpenIddictValidationDispatcher.cs
  src/OpenIddict.Validation/IOpenIddictValidationFactory.cs
  src/OpenIddict.Validation/IOpenIddictValidationHandlerFilter.cs
  src/OpenIddict.Validation/OpenIddictValidationConfiguration.cs
  src/OpenIddict.Validation/OpenIddictValidationDispatcher.cs
  src/OpenIddict.Validation/OpenIddictValidationFactory.cs
  src/OpenIddict.Validation/OpenIddictValidationHandlerFilters.cs
Labels: enhancement, server stack, validation stack, client stack

#1625 Fix broken link to OrchardCore module
  README.md
Labels: external

#1626 Bump the .NET SDK and package dependencies
  .github/workflows/build.yml
  Directory.Packages.props
  global.json
Labels: dependencies

#1627 Throw an exception to abort unhandled redirection/post-logout redirection requests
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client/OpenIddictClientHandlers.Authentication.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Session.cs
Labels: bug, client stack

#1628 Update tools.ps1/tools.sh to avoid hiding errored exit codes
  eng/common/tools.ps1
  eng/common/tools.sh
Labels: bug, external

#1630 Update the web providers generator to support setting a post_logout_redirect_uri
  gen/OpenIddict.Client.WebIntegration.Generators/OpenIddictClientWebIntegrationGenerator.cs
Labels: enhancement, web providers

#1631 Require configuring a redirect_uri for interactive flows, even for non-OpenID Connect issuers
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
Labels: client stack

#1632 Update the web providers generator to support setting a different configuration endpoint URI
  gen/OpenIddict.Client.WebIntegration.Generators/OpenIddictClientWebIntegrationGenerator.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xsd
Labels: web providers

#1633 Update the System.Net.Http integrations to support per-provider HttpClient instantiation and allow replacing it dynamically
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpConfiguration.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.Discovery.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.Exchange.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.Userinfo.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHelpers.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHandlers.Discovery.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHandlers.Introspection.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHandlers.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHelpers.cs
Labels: validation stack, client stack, web providers

#1634 Update the web provider generator to support creating builder methods for certificates and ECDSA keys
  gen/OpenIddict.Client.WebIntegration.Generators/OpenIddictClientWebIntegrationGenerator.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationBuilder.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xsd
Labels: enhancement, web providers

#1635 Add client_credentials to the list of grant types supported by Reddit
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xsd
Labels: enhancement, web providers

#1638 Infer the redirection/post-logout redirection endpoint URIs from the redirect_uri/post_logout_redirect_uri configured in client registrations
  gen/OpenIddict.Client.WebIntegration.Generators/OpenIddictClientWebIntegrationGenerator.cs
  sandbox/OpenIddict.Sandbox.AspNet.Client/Startup.cs
  sandbox/OpenIddict.Sandbox.AspNet.Server/Startup.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Client/Startup.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/Startup.cs
  src/OpenIddict.Client/OpenIddictClientConfiguration.cs
  src/OpenIddict.Client/OpenIddictClientRegistration.cs
Labels: enhancement, client stack, web providers

#1636 Add Pro Santé Connect to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationConfiguration.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationExtensions.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: web providers

#1640 Update the System.Net.Http integrations to always disable cookies support as a security measure
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpConfiguration.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationConfiguration.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpConfiguration.cs
Labels: validation stack, client stack, web providers

#1641 Store the provider name in the state token as a private claim and update the ASP.NET Core/OWIN hosts to return it as part of the merged principal
  src/OpenIddict.Abstractions/OpenIddictConstants.cs
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreHandler.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinHandler.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
Labels: enhancement, client stack

#1642 Update the web providers file to include a link to the documentation
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers
