Repository openiddict/openiddict-core, pull requests merged in 2022-10, with the labels that each got.

#1517 Update the web integration to use native options and revamp how user agents are generated
  gen/OpenIddict.Client.WebIntegration.Generators/OpenIddictClientWebIntegrationGenerator.cs
  sandbox/OpenIddict.Sandbox.AspNet.Client/Startup.cs
  sandbox/OpenIddict.Sandbox.AspNet.Server/Startup.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Client/Startup.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/Startup.cs
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreBuilder.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinBuilder.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpBuilder.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpConfiguration.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpOptions.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationConstants.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationEnvironments.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Discovery.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Exchange.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Protection.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Userinfo.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHelpers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationOptions.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProvider.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationSettings.cs
  src/OpenIddict.Client/OpenIddictClientBuilder.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpBuilder.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpConfiguration.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHandlers.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpOptions.cs
Labels: enhancement, client stack, web providers

#1518 Add a SetProductInformation() overload accepting an assembly from which the product information is derived
  sandbox/OpenIddict.Sandbox.AspNet.Client/Startup.cs
  sandbox/OpenIddict.Sandbox.AspNet.Server/Startup.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Client/Startup.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/Startup.cs
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpBuilder.cs
  src/OpenIddict.Core/Caches/OpenIddictScopeCache.cs
  src/OpenIddict.Core/Managers/OpenIddictScopeManager.cs
  src/OpenIddict.EntityFramework/Stores/OpenIddictEntityFrameworkScopeStore.cs
  src/OpenIddict.EntityFrameworkCore/Stores/OpenIddictEntityFrameworkCoreScopeStore.cs
  src/OpenIddict.MongoDb/Stores/OpenIddictMongoDbScopeStore.cs
  src/OpenIddict.Server/OpenIddictServerBuilder.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpBuilder.cs
  src/OpenIddict.Validation/OpenIddictValidationBuilder.cs
Labels: enhancement, client stack

#1519 Update the provider builders to reject null or empty strings
  gen/OpenIddict.Client.WebIntegration.Generators/OpenIddictClientWebIntegrationGenerator.cs
Labels: enhancement, client stack, web providers

#1520 Introduce new SetSigningKey() overloads in the Apple provider to make importing PEM-encoded keys easier
  Directory.Build.targets
  gen/OpenIddict.Client.WebIntegration.Generators/OpenIddictClientWebIntegrationGenerator.cs
  src/OpenIddict.Abstractions/OpenIddictExtensions.cs
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreBuilder.cs
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreExtensions.cs
  src/OpenIddict.Client.DataProtection/OpenIddictClientDataProtectionBuilder.cs
  src/OpenIddict.Client.DataProtection/OpenIddictClientDataProtectionExtensions.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinBuilder.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinExtensions.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinHelpers.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpBuilder.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpExtensions.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationBuilder.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationExtensions.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xsd
  src/OpenIddict.Client/OpenIddictClientBuilder.cs
  src/OpenIddict.Client/OpenIddictClientExtensions.cs
  src/OpenIddict.Core/OpenIddictCoreBuilder.cs
  src/OpenIddict.Core/OpenIddictCoreExtensions.cs
  src/OpenIddict.EntityFramework/OpenIddictEntityFrameworkBuilder.cs
  src/OpenIddict.EntityFramework/OpenIddictEntityFrameworkExtensions.cs
  src/OpenIddict.EntityFrameworkCore/OpenIddictEntityFrameworkCoreBuilder.cs
  src/OpenIddict.EntityFrameworkCore/OpenIddictEntityFrameworkCoreExtensions.cs
  src/OpenIddict.MongoDb/OpenIddictMongoDbBuilder.cs
  src/OpenIddict.MongoDb/OpenIddictMongoDbExtensions.cs
  src/OpenIddict.Quartz/OpenIddictQuartzBuilder.cs
  src/OpenIddict.Quartz/OpenIddictQuartzExtensions.cs
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreBuilder.cs
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreExtensions.cs
  src/OpenIddict.Server.DataProtection/OpenIddictServerDataProtectionBuilder.cs
  src/OpenIddict.Server.DataProtection/OpenIddictServerDataProtectionExtensions.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinBuilder.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinExtensions.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinHelpers.cs
  src/OpenIddict.Server/OpenIddictServerBuilder.cs
  src/OpenIddict.Server/OpenIddictServerExtensions.cs
  src/OpenIddict.Validation.AspNetCore/OpenIddictValidationAspNetCoreBuilder.cs
  src/OpenIddict.Validation.AspNetCore/OpenIddictValidationAspNetCoreExtensions.cs
  src/OpenIddict.Validation.DataProtection/OpenIddictValidationDataProtectionBuilder.cs
  src/OpenIddict.Validation.DataProtection/OpenIddictValidationDataProtectionExtensions.cs
  src/OpenIddict.Validation.Owin/OpenIddictValidationOwinBuilder.cs
  src/OpenIddict.Validation.Owin/OpenIddictValidationOwinExtensions.cs
  src/OpenIddict.Validation.Owin/OpenIddictValidationOwinHelpers.cs
  src/OpenIddict.Validation.ServerIntegration/OpenIddictValidationServerIntegrationBuilder.cs
  src/OpenIddict.Validation.ServerIntegration/OpenIddictValidationServerIntegrationExtensions.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpBuilder.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpExtensions.cs
  src/OpenIddict.Validation/OpenIddictValidationBuilder.cs
  src/OpenIddict.Validation/OpenIddictValidationExtensions.cs
Labels: enhancement, client stack, web providers

#1521 Support resolving client registrations based on the provider name
  gen/OpenIddict.Client.WebIntegration.Generators/OpenIddictClientWebIntegrationGenerator.cs
  sandbox/OpenIddict.Sandbox.AspNet.Client/Controllers/AuthenticationController.cs
  sandbox/OpenIddict.Sandbox.AspNet.Client/Startup.cs
  sandbox/OpenIddict.Sandbox.AspNet.Client/Views/Home/Index.cshtml
  sandbox/OpenIddict.Sandbox.AspNet.Server/Controllers/AuthorizationController.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Client/Controllers/AuthenticationController.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Client/Startup.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Client/Views/Home/Index.cshtml
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/Controllers/AuthorizationController.cs
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreConstants.cs
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreHandlers.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinConstants.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationBuilder.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationConstants.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Discovery.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Protection.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Userinfo.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHelpers.cs
  src/OpenIddict.Client/OpenIddictClientConfiguration.cs
  src/OpenIddict.Client/OpenIddictClientEvents.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
  src/OpenIddict.Client/OpenIddictClientRegistration.cs
Labels: enhancement, client stack, web providers

#1522 Update the ProcessChallenge/SignIn/SignOut events to expose the host authentication properties
  sandbox/OpenIddict.Sandbox.AspNet.Client/Controllers/AuthenticationController.cs
  sandbox/OpenIddict.Sandbox.AspNet.Client/Views/Home/Index.cshtml
  sandbox/OpenIddict.Sandbox.AspNetCore.Client/Controllers/AuthenticationController.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Client/Views/Home/Index.cshtml
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/Controllers/AuthenticationController.cs
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreHandlers.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinHandlers.cs
  src/OpenIddict.Client/OpenIddictClientEvents.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreHandlers.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinHandlers.cs
  src/OpenIddict.Server/OpenIddictServerEvents.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.cs
  src/OpenIddict.Validation.AspNetCore/OpenIddictValidationAspNetCoreHandlers.cs
  src/OpenIddict.Validation.Owin/OpenIddictValidationOwinConstants.cs
  src/OpenIddict.Validation.Owin/OpenIddictValidationOwinHandlers.cs
  src/OpenIddict.Validation/OpenIddictValidationEvents.cs
  test/OpenIddict.Server.AspNetCore.IntegrationTests/OpenIddictServerAspNetCoreIntegrationTests.cs
  test/OpenIddict.Server.Owin.IntegrationTests/OpenIddictServerOwinIntegrationTests.cs
Labels: enhancement, server stack, validation stack, client stack, web providers

#1523 Implement HTTP decompression support in the System.Net.Http integration packages
  Directory.Build.targets
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpConfiguration.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpConstants.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.Discovery.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.Exchange.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.Userinfo.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpConfiguration.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpConstants.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHandlers.Discovery.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHandlers.Introspection.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHandlers.cs
Labels: enhancement, client stack, web providers

#1524 Fix the provider generator to add default value setters before null checks
  gen/OpenIddict.Client.WebIntegration.Generators/OpenIddictClientWebIntegrationGenerator.cs
Labels: bug, web providers

#1525 Fix the AddClaims() overload taking a JsonElement to use ToString() instead of GetString()
  src/OpenIddict.Abstractions/Primitives/OpenIddictExtensions.cs
  test/OpenIddict.Abstractions.Tests/Primitives/OpenIddictExtensionsTests.cs
Labels: bug

#1526 Use StreamContent.LoadIntoBufferAsync() to allow reading compressed responses multiple times
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHandlers.cs
Labels: bug, validation stack, client stack

#1527 Tweak the logic used to unwrap nested userinfo responses to validate JsonElement.ValueKind
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Userinfo.cs
Labels: web providers

#1528 Add default and required scopes before enforcing null checks
  gen/OpenIddict.Client.WebIntegration.Generators/OpenIddictClientWebIntegrationGenerator.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Userinfo.cs
Labels: web providers

#1529 Revamp the handling of errors returned by the remote authorization server
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client/OpenIddictClientHandlers.Discovery.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Exchange.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Userinfo.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
  src/OpenIddict.Validation/OpenIddictValidationHandlers.Discovery.cs
  src/OpenIddict.Validation/OpenIddictValidationHandlers.Introspection.cs
  src/OpenIddict.Validation/OpenIddictValidationHandlers.Protection.cs
  src/OpenIddict.Validation/OpenIddictValidationHandlers.cs
Labels: validation stack, client stack

#1530 Change how additional userinfo parameters are handled by the Web providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Userinfo.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
Labels: web providers

#1531 Add StackExchange support
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Userinfo.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#1532 Update the client stack to normalize authorization error responses
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Userinfo.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHandlers.cs
Labels: client stack

#1533 Add LinkedIn support
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: web providers

#1535 Update the provider generator to support Uri settings and add Keycloak support
  gen/OpenIddict.Client.WebIntegration.Generators/OpenIddictClientWebIntegrationGenerator.cs
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xsd
Labels: enhancement, web providers

#1536 Rename CollectionItem nodes to Item
  gen/OpenIddict.Client.WebIntegration.Generators/OpenIddictClientWebIntegrationGenerator.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xsd
Labels: enhancement, web providers

#1537 Add PayPal support
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Discovery.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#1538 Use pattern matching to reduce indentation in the Web integration handlers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Discovery.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Protection.cs
Labels: enhancement, web providers

#1539 Revamp Packages.props and bump .NET and third-party dependencies
  Packages.props
  global.json
  sandbox/OpenIddict.Sandbox.AspNet.Client/Views/Web.config
  sandbox/OpenIddict.Sandbox.AspNet.Client/Web.config
  sandbox/OpenIddict.Sandbox.AspNet.Server/Views/Web.config
  sandbox/OpenIddict.Sandbox.AspNet.Server/Web.config
  src/OpenIddict.Abstractions/OpenIddict.Abstractions.csproj
  src/OpenIddict.Client.SystemNetHttp/OpenIddict.Client.SystemNetHttp.csproj
  src/OpenIddict.Client/OpenIddict.Client.csproj
  src/OpenIddict.Validation.SystemNetHttp/OpenIddict.Validation.SystemNetHttp.csproj
  src/OpenIddict.Validation/OpenIddict.Validation.csproj
  test/OpenIddict.Client.IntegrationTests/OpenIddict.Client.IntegrationTests.csproj
  test/OpenIddict.Server.IntegrationTests/OpenIddict.Server.IntegrationTests.csproj
  test/OpenIddict.Validation.IntegrationTests/OpenIddict.Validation.IntegrationTests.csproj
Labels: enhancement, dependencies

#1540 Bump Wilson to 6.24.0
  Packages.props
Labels: dependencies

#1542 Update Packages.props to use separate <ItemGroup> for .NET Core and .NET Standard dependencies
  Packages.props
Labels: dependencies

#1544 Adjust nullable annotations
  gen/OpenIddict.Client.WebIntegration.Generators/OpenIddictClientWebIntegrationGenerator.cs
  src/OpenIddict.Abstractions/Primitives/OpenIddictExtensions.cs
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreConfiguration.cs
  src/OpenIddict.Client.DataProtection/OpenIddictClientDataProtectionConfiguration.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinConfiguration.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpConfiguration.cs
  src/OpenIddict.Client/OpenIddictClientConfiguration.cs
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreConfiguration.cs
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreHandlers.cs
  src/OpenIddict.Server.DataProtection/OpenIddictServerDataProtectionConfiguration.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinConfiguration.cs
  src/OpenIddict.Server/OpenIddictServerConfiguration.cs
  src/OpenIddict.Validation.AspNetCore/OpenIddictValidationAspNetCoreConfiguration.cs
  src/OpenIddict.Validation.AspNetCore/OpenIddictValidationAspNetCoreHandlers.cs
  src/OpenIddict.Validation.DataProtection/OpenIddictValidationDataProtectionConfiguration.cs
  src/OpenIddict.Validation.ServerIntegration/OpenIddictValidationServerIntegrationConfiguration.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpConfiguration.cs
  src/OpenIddict.Validation/OpenIddictValidationConfiguration.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTestClient.cs
  test/OpenIddict.Validation.IntegrationTests/OpenIddictValidationIntegrationTestClient.cs
Labels: enhancement, important

#1547 Use ICacheEntry's properties instead of the CacheEntryExtensions helpers to work around incorrect nullable annotations in .NET 7.0
  src/OpenIddict.Core/Caches/OpenIddictApplicationCache.cs
  src/OpenIddict.Core/Caches/OpenIddictAuthorizationCache.cs
  src/OpenIddict.Core/Caches/OpenIddictScopeCache.cs
  src/OpenIddict.Core/Caches/OpenIddictTokenCache.cs
  src/OpenIddict.EntityFramework/Stores/OpenIddictEntityFrameworkApplicationStore.cs
  src/OpenIddict.EntityFramework/Stores/OpenIddictEntityFrameworkAuthorizationStore.cs
  src/OpenIddict.EntityFramework/Stores/OpenIddictEntityFrameworkScopeStore.cs
  src/OpenIddict.EntityFramework/Stores/OpenIddictEntityFrameworkTokenStore.cs
  src/OpenIddict.EntityFrameworkCore/Stores/OpenIddictEntityFrameworkCoreApplicationStore.cs
  src/OpenIddict.EntityFrameworkCore/Stores/OpenIddictEntityFrameworkCoreAuthorizationStore.cs
  src/OpenIddict.EntityFrameworkCore/Stores/OpenIddictEntityFrameworkCoreScopeStore.cs
  src/OpenIddict.EntityFrameworkCore/Stores/OpenIddictEntityFrameworkCoreTokenStore.cs
Labels: enhancement

#1548 Update the System.Net.Http integrations to support sending empty parameters in GET and POST requests
  shared/OpenIddict.Extensions/Helpers/OpenIddictHelpers.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddict.Client.SystemNetHttp.csproj
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddict.Client.WebIntegration.csproj
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Userinfo.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddict.Validation.SystemNetHttp.csproj
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHandlers.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddict.Server.IntegrationTests.csproj
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTestClient.cs
  test/OpenIddict.Validation.IntegrationTests/OpenIddict.Validation.IntegrationTests.csproj
  test/OpenIddict.Validation.IntegrationTests/OpenIddictValidationIntegrationTestClient.cs
Labels: enhancement, validation stack, client stack

#1550 Add Deezer support
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Exchange.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Userinfo.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#1551 Use standard space-separated scopes for Reddit
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
Labels: web providers

#1549 Reference PolySharp and replace Substring() calls by the range syntax
  Directory.Build.props
  gen/OpenIddict.Client.WebIntegration.Generators/OpenIddictClientWebIntegrationGenerator.cs
  sandbox/OpenIddict.Sandbox.AspNet.Client/OpenIddict.Sandbox.AspNet.Client.csproj
  sandbox/OpenIddict.Sandbox.AspNet.Server/OpenIddict.Sandbox.AspNet.Server.csproj
  src/OpenIddict.Client.Owin/OpenIddictClientOwinHandlers.cs
  src/OpenIddict.Client/OpenIddictClientConfiguration.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Protection.cs
  src/OpenIddict.Core/Managers/OpenIddictApplicationManager.cs
  src/OpenIddict.EntityFramework.Models/OpenIddict.EntityFramework.Models.csproj
  src/OpenIddict.EntityFrameworkCore.Models/OpenIddict.EntityFrameworkCore.Models.csproj
  src/OpenIddict.MongoDb.Models/OpenIddict.MongoDb.Models.csproj
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreHandlers.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinHandlers.cs
  src/OpenIddict.Server/OpenIddictServerConfiguration.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Authentication.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Discovery.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.cs
  src/OpenIddict.Validation.AspNetCore/OpenIddictValidationAspNetCoreHandlers.cs
  src/OpenIddict.Validation.Owin/OpenIddictValidationOwinHandlers.cs
  src/OpenIddict.Validation/OpenIddictValidationConfiguration.cs
  src/OpenIddict.Validation/OpenIddictValidationHandlers.Protection.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTestClient.cs
  test/OpenIddict.Validation.IntegrationTests/OpenIddictValidationIntegrationTestClient.cs
Labels: enhancement

#1552 Return true from IsEmptyJsonElement for Undefined and Null
  OpenIddict.sln
  src/OpenIddict.Abstractions/Primitives/OpenIddictExtensions.cs
  test/OpenIddict.Abstractions.Tests/Primitives/OpenIddictExtensionsTests.cs
  test/OpenIddict.Server.DataProtection.Tests/OpenIddict.Server.DataProtection.Tests.csproj
  test/OpenIddict.Server.DataProtection.Tests/OpenIddictServerBuilderTests.cs
Labels: bug, important

#1553 Bump PolySharp to 1.6.0 and decorate Uri and JSON properties/parameters with [StringSyntax]
  Directory.Build.props
  Packages.props
  gen/OpenIddict.Client.WebIntegration.Generators/OpenIddictClientWebIntegrationGenerator.cs
  src/OpenIddict.Abstractions/Caches/IOpenIddictApplicationCache.cs
  src/OpenIddict.Abstractions/Managers/IOpenIddictApplicationManager.cs
  src/OpenIddict.Abstractions/Primitives/OpenIddictRequest.cs
  src/OpenIddict.Abstractions/Stores/IOpenIddictApplicationStore.cs
  src/OpenIddict.Client/OpenIddictClientBuilder.cs
  src/OpenIddict.Client/OpenIddictClientEvents.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
  src/OpenIddict.Client/OpenIddictClientRetriever.cs
  src/OpenIddict.Core/Caches/OpenIddictApplicationCache.cs
  src/OpenIddict.Core/Managers/OpenIddictApplicationManager.cs
  src/OpenIddict.EntityFramework.Models/OpenIddict.EntityFramework.Models.csproj
  src/OpenIddict.EntityFramework.Models/OpenIddictEntityFrameworkApplication.cs
  src/OpenIddict.EntityFramework.Models/OpenIddictEntityFrameworkAuthorization.cs
  src/OpenIddict.EntityFramework.Models/OpenIddictEntityFrameworkScope.cs
  src/OpenIddict.EntityFramework.Models/OpenIddictEntityFrameworkToken.cs
  src/OpenIddict.EntityFramework/Stores/OpenIddictEntityFrameworkApplicationStore.cs
  src/OpenIddict.EntityFrameworkCore.Models/OpenIddict.EntityFrameworkCore.Models.csproj
  src/OpenIddict.EntityFrameworkCore.Models/OpenIddictEntityFrameworkCoreApplication.cs
  src/OpenIddict.EntityFrameworkCore.Models/OpenIddictEntityFrameworkCoreAuthorization.cs
  src/OpenIddict.EntityFrameworkCore.Models/OpenIddictEntityFrameworkCoreScope.cs
  src/OpenIddict.EntityFrameworkCore.Models/OpenIddictEntityFrameworkCoreToken.cs
  src/OpenIddict.EntityFrameworkCore/Stores/OpenIddictEntityFrameworkCoreApplicationStore.cs
  src/OpenIddict.MongoDb/Stores/OpenIddictMongoDbApplicationStore.cs
  src/OpenIddict.Server/OpenIddictServerBuilder.cs
  src/OpenIddict.Server/OpenIddictServerEvents.Authentication.cs
  src/OpenIddict.Server/OpenIddictServerEvents.Session.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Session.cs
  src/OpenIddict.Validation/OpenIddictValidationBuilder.cs
  src/OpenIddict.Validation/OpenIddictValidationRetriever.cs
Labels: enhancement, dependencies
