Repository openiddict/openiddict-core, pull requests merged in 2023-04, with the labels that each got.

#1744 Add PingOne to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#1746 Add device authorization grant support in the OpenIddict client
  gen/OpenIddict.Client.WebIntegration.Generators/OpenIddictClientWebIntegrationGenerator.cs
  sandbox/OpenIddict.Sandbox.AspNet.Client/Controllers/AuthenticationController.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Client/Controllers/AuthenticationController.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/Worker.cs
  sandbox/OpenIddict.Sandbox.Console.Client/InteractiveService.cs
  sandbox/OpenIddict.Sandbox.Console.Client/Program.cs
  src/OpenIddict.Abstractions/OpenIddictConstants.cs
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Abstractions/Primitives/OpenIddictConfiguration.cs
  src/OpenIddict.Abstractions/Primitives/OpenIddictResponse.cs
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreHandler.cs
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreHandlers.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinHandler.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinHandlers.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.Device.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Device.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Discovery.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xsd
  src/OpenIddict.Client/OpenIddictClientBuilder.cs
  src/OpenIddict.Client/OpenIddictClientEvents.Device.cs
  src/OpenIddict.Client/OpenIddictClientEvents.Exchange.cs
  src/OpenIddict.Client/OpenIddictClientEvents.cs
  src/OpenIddict.Client/OpenIddictClientExtensions.cs
  src/OpenIddict.Client/OpenIddictClientHandlerFilters.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Device.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Discovery.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Exchange.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
  src/OpenIddict.Client/OpenIddictClientRegistration.cs
  src/OpenIddict.Client/OpenIddictClientService.cs
  src/OpenIddict.Server/OpenIddictServerEvents.Discovery.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Discovery.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.cs
  src/OpenIddict.Validation/OpenIddictValidationHandlers.Introspection.cs
  src/OpenIddict.Validation/OpenIddictValidationHandlers.cs
  test/OpenIddict.Abstractions.Tests/Primitives/OpenIddictResponseTests.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Discovery.cs
Labels: enhancement, client stack, web providers

#1745 Do not resolve configuration if access token was not provided
  src/OpenIddict.Validation/OpenIddictValidationHandlers.cs
Labels: enhancement, validation stack

#1753 Catch exceptions thrown during the retrieval of the remote server configuration and generalize the use of OpenIddictHelpers.IsFatal()
  shared/OpenIddict.Extensions/Helpers/OpenIddictHelpers.cs
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreHandlers.cs
  src/OpenIddict.Client.DataProtection/OpenIddict.Client.DataProtection.csproj
  src/OpenIddict.Client.DataProtection/OpenIddictClientDataProtectionHandlers.Protection.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinHandlers.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHelpers.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHttpListener.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.cs
  src/OpenIddict.Client/OpenIddictClientDispatcher.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
  src/OpenIddict.Core/Managers/OpenIddictApplicationManager.cs
  src/OpenIddict.Core/Managers/OpenIddictAuthorizationManager.cs
  src/OpenIddict.Core/Managers/OpenIddictTokenManager.cs
  src/OpenIddict.EntityFramework/Stores/OpenIddictEntityFrameworkApplicationStore.cs
  src/OpenIddict.EntityFramework/Stores/OpenIddictEntityFrameworkAuthorizationStore.cs
  src/OpenIddict.EntityFramework/Stores/OpenIddictEntityFrameworkTokenStore.cs
  src/OpenIddict.EntityFrameworkCore/Stores/OpenIddictEntityFrameworkCoreApplicationStore.cs
  src/OpenIddict.EntityFrameworkCore/Stores/OpenIddictEntityFrameworkCoreAuthorizationStore.cs
  src/OpenIddict.EntityFrameworkCore/Stores/OpenIddictEntityFrameworkCoreTokenStore.cs
  src/OpenIddict.Quartz/OpenIddict.Quartz.csproj
  src/OpenIddict.Quartz/OpenIddictQuartzJob.cs
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreHandlers.cs
  src/OpenIddict.Server.DataProtection/OpenIddict.Server.DataProtection.csproj
  src/OpenIddict.Server.DataProtection/OpenIddictServerDataProtectionHandlers.Protection.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinHandlers.cs
  src/OpenIddict.Server/OpenIddictServerDispatcher.cs
  src/OpenIddict.Validation.DataProtection/OpenIddict.Validation.DataProtection.csproj
  src/OpenIddict.Validation.DataProtection/OpenIddictValidationDataProtectionHandlers.Protection.cs
  src/OpenIddict.Validation.Owin/OpenIddict.Validation.Owin.csproj
  src/OpenIddict.Validation.Owin/OpenIddictValidationOwinHandlers.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHandlers.cs
  src/OpenIddict.Validation/OpenIddictValidationDispatcher.cs
  src/OpenIddict.Validation/OpenIddictValidationHandlers.cs
  test/OpenIddict.Validation.IntegrationTests/OpenIddictValidationIntegrationTests.cs
Labels: server stack, validation stack, client stack, core stack

#1754 Add "sub" to the list of claims whose type is checked by ValidateFrontchannelIdentityTokenWellknownClaims/ValidateBackchannelIdentityTokenWellknownClaims
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
Labels: enhancement, client stack

#1755 Use file-scoped namespaces in the WinForms/WPF samples
  sandbox/OpenIddict.Sandbox.WinForms.Client/MainForm.Designer.cs
  sandbox/OpenIddict.Sandbox.WinForms.Client/MainForm.cs
  sandbox/OpenIddict.Sandbox.WinForms.Client/OpenIddict.Sandbox.WinForms.Client.csproj
  sandbox/OpenIddict.Sandbox.Wpf.Client/App.xaml.cs
  sandbox/OpenIddict.Sandbox.Wpf.Client/MainWindow.xaml.cs
  sandbox/OpenIddict.Sandbox.Wpf.Client/OpenIddict.Sandbox.Wpf.Client.csproj
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
Labels: enhancement

#1760 Introduce ConfigureHttpClient()/ConfigureHttpClientHandler() to simplify customizing the HttpClient/HttpClientHandler used by the client and validation stacks
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpBuilder.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpConfiguration.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpOptions.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpBuilder.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpConfiguration.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpOptions.cs
Labels: validation stack, client stack

#1761 Bump the .NET SDK and dependencies
  Directory.Packages.props
  gen/OpenIddict.Client.WebIntegration.Generators/OpenIddict.Client.WebIntegration.Generators.csproj
  global.json
  sandbox/OpenIddict.Sandbox.WinForms.Client/OpenIddict.Sandbox.WinForms.Client.csproj
  sandbox/OpenIddict.Sandbox.Wpf.Client/OpenIddict.Sandbox.Wpf.Client.csproj
Labels: dependencies
