Repository openiddict/openiddict-core, pull requests merged in 2023-08, with the labels that each got.

#1854 Add NextCloud provider
  gen/OpenIddict.Client.WebIntegration.Generators/OpenIddictClientWebIntegrationGenerator.cs
  shared/OpenIddict.Extensions/Helpers/OpenIddictHelpers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Userinfo.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: web providers, community contribution

#1857 Add SharpGrip.OpenIddict.Api project to third party maintained projects
  README.md
Labels: community contribution

#1858 Update the GitHub integration to map "name" to ClaimTypes.Name
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
Labels: enhancement, web providers

#1859 Update the ASP.NET Core samples to use automatic authentication schemes
  sandbox/OpenIddict.Sandbox.AspNetCore.Client/Controllers/AuthenticationController.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Client/Controllers/HomeController.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/Controllers/AuthenticationController.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/Controllers/AuthorizationController.cs
Labels: enhancement

#1862 Add JumpCloud to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: web providers

#1849 Add KakaoTalk to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: web providers, community contribution
