Repository openiddict/openiddict-core, pull requests merged in 2023-02, with the labels that each got.

#1663 Fix references to the ID0373 error
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpConfiguration.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationConfiguration.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpConfiguration.cs
Labels: bug

#1666 Introduce new properties to disable token rejection and don't reject authentication demands for invalid identity token hints
  src/OpenIddict.Client/OpenIddictClientEvents.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
  src/OpenIddict.Server/OpenIddictServerEvents.Device.cs
  src/OpenIddict.Server/OpenIddictServerEvents.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Authentication.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Device.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Exchange.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Introspection.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Revocation.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Session.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Userinfo.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.cs
  src/OpenIddict.Validation/OpenIddictValidationEvents.cs
  src/OpenIddict.Validation/OpenIddictValidationHandlers.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Authentication.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Session.cs
Labels: enhancement, server stack, validation stack, client stack

#1668 Update the web providers generator to support optional display names
  gen/OpenIddict.Client.WebIntegration.Generators/OpenIddictClientWebIntegrationGenerator.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xsd
Labels: enhancement, web providers

#1667 Add Active Directory Federation Services to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: web providers

#1669 Rename OpenIddictClientWindowsMarshaller to OpenIddictClientWindowsMarshal and decorate it with `[EditorBrowsable(EditorBrowsableState.Never)]`
  src/OpenIddict.Client.Windows/OpenIddictClientWindowsExtensions.cs
  src/OpenIddict.Client.Windows/OpenIddictClientWindowsHandlers.cs
  src/OpenIddict.Client.Windows/OpenIddictClientWindowsMarshal.cs
Labels: enhancement, client stack

#1670 Add an option to disable protocol activation handling and extract the protocol activation details earlier
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client.Windows/OpenIddictClientWindowsActivation.cs
  src/OpenIddict.Client.Windows/OpenIddictClientWindowsBuilder.cs
  src/OpenIddict.Client.Windows/OpenIddictClientWindowsHandlers.cs
  src/OpenIddict.Client.Windows/OpenIddictClientWindowsHelpers.cs
  src/OpenIddict.Client.Windows/OpenIddictClientWindowsListener.cs
  src/OpenIddict.Client.Windows/OpenIddictClientWindowsOptions.cs
  src/OpenIddict.Client.Windows/OpenIddictClientWindowsService.cs
Labels: enhancement, performance, client stack

#1671 Update OpenIddictClientWindowsListener to ignore operation canceled exceptions when the host is shutting down
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client.Windows/OpenIddictClientWindowsListener.cs
  src/OpenIddict.Client.Windows/OpenIddictClientWindowsService.cs
Labels: enhancement, client stack

#1673 Centralize protocol activations in a new service and add a runtime check to ensure the Windows integration is not used on unsupported platforms
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client.Windows/OpenIddictClientWindowsActivation.cs
  src/OpenIddict.Client.Windows/OpenIddictClientWindowsExtensions.cs
  src/OpenIddict.Client.Windows/OpenIddictClientWindowsHandler.cs
  src/OpenIddict.Client.Windows/OpenIddictClientWindowsHandlers.cs
  src/OpenIddict.Client.Windows/OpenIddictClientWindowsListener.cs
  src/OpenIddict.Client.Windows/OpenIddictClientWindowsService.cs
Labels: enhancement, client stack

#1674 Fix HasAppContainerToken() to use [SupportedOSPlatform] instead of [SupportedOSPlatformGuard]
  src/OpenIddict.Client.Windows/OpenIddictClientWindowsHelpers.cs
Labels: client stack

#1678 Fix the XML documentation of the OpenIddictClientSystemIntegrationHttpListener class
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHttpListener.cs
Labels: client stack, system integration

#1680 Update the embedded web server to listen on 127.0.0.1/::1 when possible and use http://localhost/ as the default client URI
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/Worker.cs
  sandbox/OpenIddict.Sandbox.Console.Client/InteractiveService.cs
  sandbox/OpenIddict.Sandbox.Console.Client/OpenIddict.Sandbox.Console.Client.csproj
  sandbox/OpenIddict.Sandbox.Console.Client/Program.cs
  sandbox/OpenIddict.Sandbox.WinForms.Client/Program.cs
  sandbox/OpenIddict.Sandbox.WinForms.Client/Worker.cs
  sandbox/OpenIddict.Sandbox.Wpf.Client/Program.cs
  sandbox/OpenIddict.Sandbox.Wpf.Client/Worker.cs
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationBuilder.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationConfiguration.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHelpers.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHttpListener.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationOptions.cs
Labels: enhancement, system integration

#1681 Replace Twitter by GitHub in the sandbox projects
  sandbox/OpenIddict.Sandbox.AspNet.Client/Controllers/AuthenticationController.cs
  sandbox/OpenIddict.Sandbox.AspNet.Client/Startup.cs
  sandbox/OpenIddict.Sandbox.AspNet.Client/Views/Home/Index.cshtml
  sandbox/OpenIddict.Sandbox.AspNetCore.Client/Controllers/AuthenticationController.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Client/Startup.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Client/Views/Home/Index.cshtml
  sandbox/OpenIddict.Sandbox.Console.Client/InteractiveService.cs
  sandbox/OpenIddict.Sandbox.Console.Client/Program.cs
  sandbox/OpenIddict.Sandbox.WinForms.Client/MainForm.Designer.cs
  sandbox/OpenIddict.Sandbox.WinForms.Client/MainForm.cs
  sandbox/OpenIddict.Sandbox.WinForms.Client/Program.cs
  sandbox/OpenIddict.Sandbox.Wpf.Client/MainWindow.xaml
  sandbox/OpenIddict.Sandbox.Wpf.Client/MainWindow.xaml.cs
  sandbox/OpenIddict.Sandbox.Wpf.Client/Program.cs
Labels: web providers

#1684 Update the authorization/logout request caching logic to use RequestUri
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreHandlers.Authentication.cs
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreHandlers.Session.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinHandlers.Authentication.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinHandlers.Session.cs
Labels: enhancement

#1685 Add Stripe to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
  src/OpenIddict.Client/OpenIddictClientEvents.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Authentication.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Session.cs
Labels: web providers

#1686 Update the ADFS provider to support configuring the requested resources
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#1687 Ensure the Windows Runtime types are never loaded on platforms that don't support them
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlerFilters.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.Authentication.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.cs
Labels: bug, system integration

#1689 Fix RestoreTokenResponseFromMarshalledAuthentication to be correctly registered
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.cs
Labels: bug, system integration

#1688 Switch over from MSSQL to sqlite for the AspNetCore sandbox server
  sandbox/OpenIddict.Sandbox.AspNetCore.Client/OpenIddict.Sandbox.AspNetCore.Client.csproj
  sandbox/OpenIddict.Sandbox.AspNetCore.Client/Startup.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/OpenIddict.Sandbox.AspNetCore.Server.csproj
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/Startup.cs
Labels: enhancement

#1693 Allow cooperative cancellation of metadata retrieval and HTTP requests
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreHandlers.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinHandlers.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
  src/OpenIddict.Client/OpenIddictClientService.cs
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreHandlers.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinHandlers.cs
  src/OpenIddict.Validation.AspNetCore/OpenIddictValidationAspNetCoreHandlers.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHandlers.cs
  src/OpenIddict.Validation/OpenIddictValidationHandlers.cs
  src/OpenIddict.Validation/OpenIddictValidationService.cs
Labels: enhancement, server stack, validation stack, client stack

#1695 Update the System.Net.Http integrations to only use basic authentication when a client_secret is sent
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.Exchange.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Exchange.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHandlers.Introspection.cs
Labels: validation stack, client stack, web providers

#1696 Update AttachNonStandardBasicAuthenticationCredentials to avoid handling cases that are already handled by the generic AttachBasicAuthenticationCredentials handler
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Exchange.cs
Labels: bug, web providers

#1698 Introduce OpenIddictClientSystemIntegrationOptions.ApplicationDiscriminator
  Directory.Packages.props
  sandbox/OpenIddict.Sandbox.Console.Client/InteractiveService.cs
  sandbox/OpenIddict.Sandbox.Console.Client/OpenIddict.Sandbox.Console.Client.csproj
  sandbox/OpenIddict.Sandbox.Console.Client/Program.cs
  sandbox/OpenIddict.Sandbox.WinForms.Client/OpenIddict.Sandbox.WinForms.Client.csproj
  sandbox/OpenIddict.Sandbox.Wpf.Client/OpenIddict.Sandbox.Wpf.Client.csproj
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationBuilder.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationConfiguration.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationOptions.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationService.cs
Labels: enhancement, system integration
