Repository openiddict/openiddict-core, pull requests merged in 2023-09, with the labels that each got.

#1872 Remove the .NET Core 3.1 TFMs
  .github/workflows/build.yml
  Directory.Build.props
  Directory.Packages.props
  README.md
  global.json
  src/OpenIddict.AspNetCore/OpenIddict.AspNetCore.csproj
  src/OpenIddict/OpenIddict.csproj
Labels: dependencies, server stack, validation stack, client stack, core stack

#1873 Remove the obsolete members
  gen/OpenIddict.Client.WebIntegration.Generators/OpenIddictClientWebIntegrationGenerator.cs
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreConfiguration.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinConfiguration.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpOptions.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationConfiguration.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
  src/OpenIddict.Client/OpenIddictClientEvents.Exchange.cs
  src/OpenIddict.Client/OpenIddictClientRegistration.cs
  src/OpenIddict.Client/OpenIddictClientService.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHandlers.cs
Labels: important, validation stack, client stack, web providers

#1874 Bump Microsoft.AspNet.Identity.Owin/EntityFramework to 2.2.4
  Directory.Packages.props
Labels: dependencies

#1877 Introduce support for application types
  sandbox/OpenIddict.Sandbox.AspNet.Server/Startup.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/Worker.cs
  src/OpenIddict.Abstractions/Descriptors/OpenIddictApplicationDescriptor.cs
  src/OpenIddict.Abstractions/Managers/IOpenIddictApplicationManager.cs
  src/OpenIddict.Abstractions/OpenIddictConstants.cs
  src/OpenIddict.Abstractions/Stores/IOpenIddictApplicationStore.cs
  src/OpenIddict.Core/Managers/OpenIddictApplicationManager.cs
  src/OpenIddict.EntityFramework.Models/OpenIddictEntityFrameworkApplication.cs
  src/OpenIddict.EntityFramework/Configurations/OpenIddictEntityFrameworkApplicationConfiguration.cs
  src/OpenIddict.EntityFramework/Stores/OpenIddictEntityFrameworkApplicationStore.cs
  src/OpenIddict.EntityFrameworkCore.Models/OpenIddictEntityFrameworkCoreApplication.cs
  src/OpenIddict.EntityFrameworkCore/Configurations/OpenIddictEntityFrameworkCoreApplicationConfiguration.cs
  src/OpenIddict.EntityFrameworkCore/Stores/OpenIddictEntityFrameworkCoreApplicationStore.cs
  src/OpenIddict.MongoDb.Models/OpenIddictMongoDbApplication.cs
  src/OpenIddict.MongoDb/Stores/OpenIddictMongoDbApplicationStore.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Session.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Session.cs
Labels: enhancement, server stack, core stack

#1878 Introduce application settings and support configuring token lifetimes per client
  sandbox/OpenIddict.Sandbox.AspNet.Server/Startup.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/Worker.cs
  src/OpenIddict.Abstractions/Descriptors/OpenIddictApplicationDescriptor.cs
  src/OpenIddict.Abstractions/Managers/IOpenIddictApplicationManager.cs
  src/OpenIddict.Abstractions/OpenIddictConstants.cs
  src/OpenIddict.Abstractions/Stores/IOpenIddictApplicationStore.cs
  src/OpenIddict.Core/Managers/OpenIddictApplicationManager.cs
  src/OpenIddict.EntityFramework.Models/OpenIddictEntityFrameworkApplication.cs
  src/OpenIddict.EntityFramework/Stores/OpenIddictEntityFrameworkApplicationStore.cs
  src/OpenIddict.EntityFrameworkCore.Models/OpenIddictEntityFrameworkCoreApplication.cs
  src/OpenIddict.EntityFrameworkCore/Stores/OpenIddictEntityFrameworkCoreApplicationStore.cs
  src/OpenIddict.MongoDb.Models/OpenIddictMongoDbApplication.cs
  src/OpenIddict.MongoDb/Stores/OpenIddictMongoDbApplicationStore.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Authentication.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Device.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Exchange.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.cs
Labels: enhancement, server stack, core stack

#1879 Add an option allowing to suppress JSON response indentation in the ASP.NET Core and OWIN server hosts
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreBuilder.cs
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreHandlers.cs
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreOptions.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinBuilder.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinHandlers.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinOptions.cs
Labels: enhancement, server stack

#1880 Automatically abort interactive challenge demands when no client identifier could be resolved
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
Labels: enhancement, client stack

#1882 Move the client authentication logic to the ProcessAuthentication event
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Server/OpenIddictServerConfiguration.cs
  src/OpenIddict.Server/OpenIddictServerEvents.cs
  src/OpenIddict.Server/OpenIddictServerExtensions.cs
  src/OpenIddict.Server/OpenIddictServerHandlerFilters.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Authentication.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Device.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Exchange.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Introspection.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Revocation.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Session.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Userinfo.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Exchange.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Introspection.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Revocation.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.cs
Labels: important, server stack

#1883 Rename UnfilteredHttpClientActions/UnfilteredHttpClientHandlerActions to HttpClientActions/HttpClientHandlerActions
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpBuilder.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpConfiguration.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpOptions.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationConfiguration.cs
Labels: client stack

#1889 add web provider for Auth0
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Discovery.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#1890 Fix AuthenticateWithDeviceAsync() to flow the scopes attached to the request model
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
  src/OpenIddict.Client/OpenIddictClientService.cs
Labels: bug, client stack

#1891 Automatically disable userinfo validation when the openid scope is not requested
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
Labels: bug, client stack

#1893 Add client assertions support to the server stack
  Directory.Packages.props
  sandbox/OpenIddict.Sandbox.AspNet.Client/Web.config
  sandbox/OpenIddict.Sandbox.AspNet.Server/Startup.cs
  sandbox/OpenIddict.Sandbox.AspNet.Server/Web.config
  sandbox/OpenIddict.Sandbox.AspNetCore.Client/Startup.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/Worker.cs
  src/OpenIddict.Abstractions/Descriptors/OpenIddictApplicationDescriptor.cs
  src/OpenIddict.Abstractions/Managers/IOpenIddictApplicationManager.cs
  src/OpenIddict.Abstractions/OpenIddictConstants.cs
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Abstractions/Stores/IOpenIddictApplicationStore.cs
  src/OpenIddict.Client.DataProtection/OpenIddictClientDataProtectionHandlers.Protection.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Discovery.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client/OpenIddictClientBuilder.cs
  src/OpenIddict.Client/OpenIddictClientEvents.Protection.cs
  src/OpenIddict.Client/OpenIddictClientEvents.cs
  src/OpenIddict.Client/OpenIddictClientExtensions.cs
  src/OpenIddict.Client/OpenIddictClientHandlerFilters.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Protection.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
  src/OpenIddict.Client/OpenIddictClientOptions.cs
  src/OpenIddict.Core/Managers/OpenIddictApplicationManager.cs
  src/OpenIddict.EntityFramework.Models/OpenIddictEntityFrameworkApplication.cs
  src/OpenIddict.EntityFramework/Stores/OpenIddictEntityFrameworkApplicationStore.cs
  src/OpenIddict.EntityFrameworkCore.Models/OpenIddictEntityFrameworkCoreApplication.cs
  src/OpenIddict.EntityFrameworkCore/Stores/OpenIddictEntityFrameworkCoreApplicationStore.cs
  src/OpenIddict.MongoDb.Models/OpenIddictMongoDbApplication.cs
  src/OpenIddict.MongoDb/Stores/OpenIddictMongoDbApplicationStore.cs
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreConstants.cs
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreHandler.cs
  src/OpenIddict.Server.DataProtection/OpenIddictServerDataProtectionHandlers.Protection.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinConstants.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinHandler.cs
  src/OpenIddict.Server/OpenIddictServerEvents.Protection.cs
  src/OpenIddict.Server/OpenIddictServerEvents.cs
  src/OpenIddict.Server/OpenIddictServerExtensions.cs
  src/OpenIddict.Server/OpenIddictServerHandlerFilters.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Device.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Discovery.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Exchange.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Introspection.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Protection.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Revocation.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.cs
  src/OpenIddict.Validation.DataProtection/OpenIddictValidationDataProtectionHandlers.Protection.cs
  src/OpenIddict.Validation/OpenIddictValidationEvents.Protection.cs
  src/OpenIddict.Validation/OpenIddictValidationHandlers.Protection.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Device.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Exchange.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Introspection.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Protection.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Revocation.cs
Labels: enhancement, server stack, client stack

#1896 Allow configuring the supported client authentication methods and use invalid_client for client assertion errors
  src/OpenIddict.Abstractions/OpenIddictConstants.cs
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Core/Managers/OpenIddictApplicationManager.cs
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreConfiguration.cs
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreHandlers.Device.cs
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreHandlers.Exchange.cs
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreHandlers.Introspection.cs
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreHandlers.Revocation.cs
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreHandlers.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinConfiguration.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinHandlers.Device.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinHandlers.Exchange.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinHandlers.Introspection.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinHandlers.Revocation.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinHandlers.cs
  src/OpenIddict.Server/OpenIddictServerConfiguration.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Device.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Discovery.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Exchange.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Introspection.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Protection.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Revocation.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.cs
  src/OpenIddict.Server/OpenIddictServerOptions.cs
  test/OpenIddict.Server.AspNetCore.IntegrationTests/OpenIddictServerAspNetCoreIntegrationTests.Exchange.cs
  test/OpenIddict.Server.AspNetCore.IntegrationTests/OpenIddictServerAspNetCoreIntegrationTests.Introspection.cs
  test/OpenIddict.Server.AspNetCore.IntegrationTests/OpenIddictServerAspNetCoreIntegrationTests.Revocation.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Device.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Discovery.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Exchange.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Introspection.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Revocation.cs
  test/OpenIddict.Server.Owin.IntegrationTests/OpenIddictServerOwinIntegrationTests.Exchange.cs
  test/OpenIddict.Server.Owin.IntegrationTests/OpenIddictServerOwinIntegrationTests.Introspection.cs
  test/OpenIddict.Server.Owin.IntegrationTests/OpenIddictServerOwinIntegrationTests.Revocation.cs
Labels: enhancement, server stack

#1897 Make the supported subject types configurable via OpenIddictServerOptions.SubjectTypes
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Server/OpenIddictServerConfiguration.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Discovery.cs
  src/OpenIddict.Server/OpenIddictServerOptions.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Discovery.cs
Labels: enhancement, server stack
