Repository openiddict/openiddict-core, pull requests merged in 2023-07, with the labels that each got.

#1822 Enable the "plain" code challenge method by default to increase interoperability
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationConfiguration.cs
  src/OpenIddict.Client/OpenIddictClientBuilder.cs
  src/OpenIddict.Server/OpenIddictServerBuilder.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Authentication.cs
Labels: enhancement, server stack, client stack

#1825 Replace references to Azure Active Directory by Microsoft Entra ID
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Discovery.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Protection.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, external, web providers

#1826 Add Tumblr to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Exchange.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Userinfo.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#1827 Unify the attachment of HTTP parameters into a single event handler and add SubscribeStar to the list of supported providers
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.Device.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.Discovery.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.Exchange.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.Userinfo.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Exchange.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Userinfo.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHandlers.Discovery.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHandlers.Introspection.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHandlers.cs
Labels: enhancement, validation stack, client stack, web providers

#1828 Use [StringSyntax(StringSyntaxAttribute.Uri, UriKind.Absolute)] when absolute URIs are expected
  src/OpenIddict.Client/OpenIddictClientBuilder.cs
  src/OpenIddict.Server/OpenIddictServerBuilder.cs
Labels: enhancement, server stack, client stack

#1829 Update the ValidateAsync() methods to throw ArgumentNullException synchronously
  src/OpenIddict.Core/Managers/OpenIddictApplicationManager.cs
  src/OpenIddict.Core/Managers/OpenIddictAuthorizationManager.cs
  src/OpenIddict.Core/Managers/OpenIddictScopeManager.cs
  src/OpenIddict.Core/Managers/OpenIddictTokenManager.cs
Labels: enhancement

#1830 Bump MongoDB to 2.20.0 on .NET 6.0 and higher
  Directory.Packages.props
  src/OpenIddict.AspNetCore/OpenIddict.AspNetCore.csproj
  src/OpenIddict.Client.AspNetCore/OpenIddict.Client.AspNetCore.csproj
  src/OpenIddict.EntityFramework.Models/OpenIddict.EntityFramework.Models.csproj
  src/OpenIddict.EntityFramework/OpenIddict.EntityFramework.csproj
  src/OpenIddict.EntityFrameworkCore.Models/OpenIddict.EntityFrameworkCore.Models.csproj
  src/OpenIddict.MongoDb.Models/OpenIddict.MongoDb.Models.csproj
  src/OpenIddict.MongoDb/OpenIddict.MongoDb.csproj
  src/OpenIddict.Server.AspNetCore/OpenIddict.Server.AspNetCore.csproj
  src/OpenIddict.Validation.AspNetCore/OpenIddict.Validation.AspNetCore.csproj
  src/OpenIddict.Validation.ServerIntegration/OpenIddict.Validation.ServerIntegration.csproj
  test/OpenIddict.Abstractions.Tests/OpenIddict.Abstractions.Tests.csproj
  test/OpenIddict.Client.Owin.IntegrationTests/OpenIddict.Client.Owin.IntegrationTests.csproj
  test/OpenIddict.Core.Tests/OpenIddict.Core.Tests.csproj
  test/OpenIddict.EntityFramework.Tests/OpenIddict.EntityFramework.Tests.csproj
  test/OpenIddict.EntityFrameworkCore.Tests/OpenIddict.EntityFrameworkCore.Tests.csproj
  test/OpenIddict.MongoDb.Tests/OpenIddict.MongoDb.Tests.csproj
  test/OpenIddict.Quartz.Tests/OpenIddict.Quartz.Tests.csproj
  test/OpenIddict.Server.DataProtection.Tests/OpenIddict.Server.DataProtection.Tests.csproj
  test/OpenIddict.Server.Owin.IntegrationTests/OpenIddict.Server.Owin.IntegrationTests.csproj
  test/OpenIddict.Validation.Owin.IntegrationTests/OpenIddict.Validation.Owin.IntegrationTests.csproj
Labels: dependencies

#1832 Use manually-defined store resolvers instead of mocks in OpenIddictCoreBuilderTests
  test/OpenIddict.Core.Tests/OpenIddictCoreBuilderTests.cs
Labels: external

#1833 Add .NET Core 3.1/.NET 6.0/.NET 7.0 TFMs to OpenIddict.Validation.ServerIntegration
  src/OpenIddict.Validation.ServerIntegration/OpenIddict.Validation.ServerIntegration.csproj
Labels: bug

#1836 Disable userinfo retrieval for the ADFS provider
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
Labels: bug, web providers

#1837 Centralize the target frameworks in Directory.Build.props
  Directory.Build.props
  Directory.Packages.props
  eng/CompatibilitySuppressions.xml
  src/OpenIddict.Abstractions/OpenIddict.Abstractions.csproj
  src/OpenIddict.AspNetCore/OpenIddict.AspNetCore.csproj
  src/OpenIddict.Client.AspNetCore/OpenIddict.Client.AspNetCore.csproj
  src/OpenIddict.Client.DataProtection/OpenIddict.Client.DataProtection.csproj
  src/OpenIddict.Client.Owin/OpenIddict.Client.Owin.csproj
  src/OpenIddict.Client.SystemIntegration/OpenIddict.Client.SystemIntegration.csproj
  src/OpenIddict.Client.SystemNetHttp/OpenIddict.Client.SystemNetHttp.csproj
  src/OpenIddict.Client.WebIntegration/OpenIddict.Client.WebIntegration.csproj
  src/OpenIddict.Client/OpenIddict.Client.csproj
  src/OpenIddict.Core/OpenIddict.Core.csproj
  src/OpenIddict.EntityFramework.Models/OpenIddict.EntityFramework.Models.csproj
  src/OpenIddict.EntityFramework/OpenIddict.EntityFramework.csproj
  src/OpenIddict.EntityFrameworkCore.Models/OpenIddict.EntityFrameworkCore.Models.csproj
  src/OpenIddict.EntityFrameworkCore/OpenIddict.EntityFrameworkCore.csproj
  src/OpenIddict.MongoDb.Models/OpenIddict.MongoDb.Models.csproj
  src/OpenIddict.MongoDb/OpenIddict.MongoDb.csproj
  src/OpenIddict.Owin/OpenIddict.Owin.csproj
  src/OpenIddict.Quartz/OpenIddict.Quartz.csproj
  src/OpenIddict.Server.AspNetCore/OpenIddict.Server.AspNetCore.csproj
  src/OpenIddict.Server.DataProtection/OpenIddict.Server.DataProtection.csproj
  src/OpenIddict.Server.Owin/OpenIddict.Server.Owin.csproj
  src/OpenIddict.Server/OpenIddict.Server.csproj
  src/OpenIddict.Validation.AspNetCore/OpenIddict.Validation.AspNetCore.csproj
  src/OpenIddict.Validation.DataProtection/OpenIddict.Validation.DataProtection.csproj
  src/OpenIddict.Validation.Owin/OpenIddict.Validation.Owin.csproj
  src/OpenIddict.Validation.ServerIntegration/OpenIddict.Validation.ServerIntegration.csproj
  src/OpenIddict.Validation.SystemNetHttp/OpenIddict.Validation.SystemNetHttp.csproj
  src/OpenIddict.Validation/OpenIddict.Validation.csproj
  src/OpenIddict/OpenIddict.csproj
  test/OpenIddict.Abstractions.Tests/OpenIddict.Abstractions.Tests.csproj
  test/OpenIddict.Client.AspNetCore.IntegrationTests/OpenIddict.Client.AspNetCore.IntegrationTests.csproj
  test/OpenIddict.Client.IntegrationTests/OpenIddict.Client.IntegrationTests.csproj
  test/OpenIddict.Client.Owin.IntegrationTests/OpenIddict.Client.Owin.IntegrationTests.csproj
  test/OpenIddict.Core.Tests/OpenIddict.Core.Tests.csproj
  test/OpenIddict.EntityFramework.Tests/OpenIddict.EntityFramework.Tests.csproj
  test/OpenIddict.EntityFrameworkCore.Tests/OpenIddict.EntityFrameworkCore.Tests.csproj
  test/OpenIddict.MongoDb.Tests/OpenIddict.MongoDb.Tests.csproj
  test/OpenIddict.Quartz.Tests/OpenIddict.Quartz.Tests.csproj
  test/OpenIddict.Server.AspNetCore.IntegrationTests/OpenIddict.Server.AspNetCore.IntegrationTests.csproj
  test/OpenIddict.Server.DataProtection.Tests/OpenIddict.Server.DataProtection.Tests.csproj
  test/OpenIddict.Server.IntegrationTests/OpenIddict.Server.IntegrationTests.csproj
  test/OpenIddict.Server.Owin.IntegrationTests/OpenIddict.Server.Owin.IntegrationTests.csproj
  test/OpenIddict.Server.Tests/OpenIddict.Server.Tests.csproj
  test/OpenIddict.Validation.AspNetCore.IntegrationTests/OpenIddict.Validation.AspNetCore.IntegrationTests.csproj
  test/OpenIddict.Validation.IntegrationTests/OpenIddict.Validation.IntegrationTests.csproj
  test/OpenIddict.Validation.Owin.IntegrationTests/OpenIddict.Validation.Owin.IntegrationTests.csproj
Labels: bug, enhancement, server stack, validation stack, client stack, web providers, core stack, system integration

#1839 Add a built-in authentication scheme forwarding feature to the OpenIddict client OWIN and ASP.NET Core hosts
  gen/OpenIddict.Client.WebIntegration.Generators/OpenIddictClientWebIntegrationGenerator.cs
  sandbox/OpenIddict.Sandbox.AspNet.Client/Controllers/AuthenticationController.cs
  sandbox/OpenIddict.Sandbox.AspNet.Client/Views/Home/Index.cshtml
  sandbox/OpenIddict.Sandbox.AspNet.Server/Controllers/AuthenticationController.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Client/Controllers/AuthenticationController.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Client/Views/Home/Index.cshtml
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/Controllers/AuthenticationController.cs
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreBuilder.cs
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreConfiguration.cs
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreExtensions.cs
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreForwarder.cs
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreOptions.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinBuilder.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinConfiguration.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinHandler.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinMiddleware.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinOptions.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
  src/OpenIddict.Client/OpenIddictClientRegistration.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinHandler.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinMiddleware.cs
  src/OpenIddict.Validation.Owin/OpenIddictValidationOwinHandler.cs
  src/OpenIddict.Validation.Owin/OpenIddictValidationOwinMiddleware.cs
Labels: enhancement, important, client stack

#1840 Remove package validation
  Directory.Build.props
  OpenIddict.sln
  eng/CompatibilitySuppressions.xml
  eng/Versions.props
  src/OpenIddict.Client.AspNetCore/OpenIddict.Client.AspNetCore.csproj
Labels: enhancement

#1841 Store the expiration date of the backchannel/frontchannel access tokens as a token in AuthenticationProperties
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreConstants.cs
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreHandler.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinConstants.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinHandler.cs
  src/OpenIddict.Client/OpenIddictClientEvents.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
Labels: enhancement, client stack

#1842 fix client handler AttachCustomSignOutParameters set parameter to Request not Response
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
Labels: bug, client stack

#1844 Update the Shopify provider to support setting a default/static shop name
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#1845 Rename DefaultShopName to ShopName
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#1847 Add an automatic claims mapping feature to the OpenIddict client stack
  sandbox/OpenIddict.Sandbox.AspNet.Client/Controllers/AuthenticationController.cs
  sandbox/OpenIddict.Sandbox.AspNet.Server/Controllers/AuthenticationController.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Client/Controllers/AuthenticationController.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/Controllers/AuthenticationController.cs
  shared/OpenIddict.Extensions/Helpers/OpenIddictHelpers.cs
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreHandler.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinHandler.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Userinfo.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client/OpenIddictClientBuilder.cs
  src/OpenIddict.Client/OpenIddictClientEvents.cs
  src/OpenIddict.Client/OpenIddictClientExtensions.cs
  src/OpenIddict.Client/OpenIddictClientHandlerFilters.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Userinfo.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
  src/OpenIddict.Client/OpenIddictClientOptions.cs
  src/OpenIddict.Client/OpenIddictClientService.cs
  src/OpenIddict.Validation/OpenIddictValidationHandlers.Introspection.cs
Labels: enhancement, important, client stack, web providers
