Repository openiddict/openiddict-core, pull requests merged in 2023-06, with the labels that each got.

#1781 Bump the .NET SDK/runtimes
  .github/workflows/build.yml
  global.json
  src/OpenIddict.Abstractions/Primitives/OpenIddictParameter.cs
Labels: dependencies

#1782 Split the build step into 3 build/push-myget/push-nuget steps
  .github/workflows/build.yml
Labels: enhancement

#1783 Enable packages validation
  .github/workflows/build.yml
  Directory.Build.props
  OpenIddict.sln
  eng/CompatibilitySuppressions.xml
  eng/Versions.props
Labels: enhancement, server stack, validation stack, client stack, web providers, core stack, system integration

#1784 Update OpenIddictClientSystemIntegrationOptions.ApplicationDiscriminator's documentation to clarify it is not used when PipeName is explicitly set
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationOptions.cs
Labels: system integration

#1788 Avoid installing .NET in the push-packages-myget/push-packages-nuget build jobs
  .github/workflows/build.yml
Labels: enhancement

#1796 Specify an explicit .NET SDK version in the validate-packages job
  .github/workflows/build.yml
Labels: bug

#1798 Remove the Add[Provider]() overload returning a derived builder
  gen/OpenIddict.Client.WebIntegration.Generators/OpenIddictClientWebIntegrationGenerator.cs
  sandbox/OpenIddict.Sandbox.AspNet.Server/Startup.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/Startup.cs
  sandbox/OpenIddict.Sandbox.WinForms.Client/Program.cs
  sandbox/OpenIddict.Sandbox.Wpf.Client/Program.cs
Labels: important, web providers

#1805 Add Lichess to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#1806 Add Autodesk to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#1807 Add Adobe to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Discovery.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#1809 Add explicit System.Net.Http usings
  Directory.Build.targets
  sandbox/OpenIddict.Sandbox.AspNetCore.Client/Controllers/HomeController.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpBuilder.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpConfiguration.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.Device.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.Exchange.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.Userinfo.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpOptions.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationConfiguration.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Exchange.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Userinfo.cs
  src/OpenIddict.Core/Managers/OpenIddictScopeManager.cs
  src/OpenIddict.EntityFramework.Models/OpenIddict.EntityFramework.Models.csproj
  src/OpenIddict.EntityFrameworkCore.Models/OpenIddict.EntityFrameworkCore.Models.csproj
  src/OpenIddict.MongoDb.Models/OpenIddict.MongoDb.Models.csproj
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpBuilder.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpConfiguration.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHandlers.Introspection.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHandlers.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpOptions.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTestClient.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Authentication.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Device.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Discovery.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Exchange.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Introspection.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Revocation.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Session.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Userinfo.cs
  test/OpenIddict.Validation.IntegrationTests/OpenIddictValidationIntegrationTestClient.cs
Labels: enhancement

#1810 Enable Visual Studio build acceleration
  Directory.Build.props
  Directory.Build.targets
  src/OpenIddict.EntityFrameworkCore/OpenIddict.EntityFrameworkCore.csproj
Labels: enhancement

#1811 Add Shopify to the list of supported providers and update the generator to generate constants for the authentication properties
  Directory.Build.targets
  gen/OpenIddict.Client.WebIntegration.Generators/OpenIddictClientWebIntegrationGenerator.cs
  shared/OpenIddict.Extensions/Helpers/OpenIddictHelpers.cs
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Userinfo.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xsd
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
Labels: enhancement, web providers

#1812 Override the code challenge methods supported by the Autodesk provider
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Discovery.cs
Labels: important, web providers

#1813 Use HttpHeaders.Add() instead of TryAddWithoutValidation()
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Userinfo.cs
Labels: web providers

#1814 Add Notion to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Userinfo.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#1815 Add Kroger to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Userinfo.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#1816 Add Webex to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Discovery.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Protection.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#1817 Add Salesforce to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Discovery.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
Labels: enhancement, web providers

#1818 Add Verimi to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers
