Repository openiddict/openiddict-core, pull requests merged in 2024-11, with the labels that each got.

#2215 Merge the FindAsync()/RevokeAsync() methods into a single API with nullable parameters
  src/OpenIddict.Abstractions/Caches/IOpenIddictAuthorizationCache.cs
  src/OpenIddict.Abstractions/Caches/IOpenIddictTokenCache.cs
  src/OpenIddict.Abstractions/Managers/IOpenIddictAuthorizationManager.cs
  src/OpenIddict.Abstractions/Managers/IOpenIddictTokenManager.cs
  src/OpenIddict.Abstractions/Stores/IOpenIddictAuthorizationStore.cs
  src/OpenIddict.Abstractions/Stores/IOpenIddictTokenStore.cs
  src/OpenIddict.Core/Caches/OpenIddictAuthorizationCache.cs
  src/OpenIddict.Core/Caches/OpenIddictTokenCache.cs
  src/OpenIddict.Core/Managers/OpenIddictAuthorizationManager.cs
  src/OpenIddict.Core/Managers/OpenIddictTokenManager.cs
  src/OpenIddict.EntityFramework/Stores/OpenIddictEntityFrameworkAuthorizationStore.cs
  src/OpenIddict.EntityFramework/Stores/OpenIddictEntityFrameworkTokenStore.cs
  src/OpenIddict.EntityFrameworkCore/Stores/OpenIddictEntityFrameworkCoreAuthorizationStore.cs
  src/OpenIddict.EntityFrameworkCore/Stores/OpenIddictEntityFrameworkCoreTokenStore.cs
  src/OpenIddict.MongoDb/Stores/OpenIddictMongoDbAuthorizationStore.cs
  src/OpenIddict.MongoDb/Stores/OpenIddictMongoDbTokenStore.cs
Labels: enhancement, core stack

#2216 Override the default TLS client certificate selectors to support using certificates that don't meet the default requirements for specific providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationConfiguration.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationExtensions.cs
Labels: enhancement, client stack, web providers

#2222 Eagerly abort introspection/revocation demands that don't have a token attached
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
Labels: enhancement, client stack

#2223 Bump the .NET SDK to 9.0.100 and reference the 9.0 RTM packages
  Directory.Build.targets
  Directory.Packages.props
  WorkloadRollback.json
  global.json
  src/OpenIddict.Abstractions/Primitives/OpenIddictParameter.cs
Labels: dependencies

#2224 Bump the .NET dependencies
  Directory.Packages.props
  global.json
Labels: dependencies

#2225 Bump IdentityModel to 8.2.0
  Directory.Packages.props
Labels: dependencies

#2227 Update OIC sponsor logo
  README.md
Labels: important

#2217 Support for Zendesk
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.Userinfo.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Revocation.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Userinfo.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers
