Repository openiddict/openiddict-core, pull requests merged in 2024-03, with the labels that each got.

#2020 Add Mastodon to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#2022 Add Bitly to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Exchange.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#2023 Add Box to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#2024 Update the web providers source generator to support marking providers as obsolete
  gen/OpenIddict.Client.WebIntegration.Generators/OpenIddictClientWebIntegrationGenerator.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xsd
Labels: enhancement, web providers

#2025 Update the Zoom provider to use client_secret_basic for token revocation
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#2026 Update the console sandbox to support token refreshing/introspection/revocation with the resource owner password credentials grant
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/Worker.cs
  sandbox/OpenIddict.Sandbox.Console.Client/InteractiveService.cs
Labels: enhancement

#2028 Add Atlassian to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Discovery.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#2029 Update the client stack to support using custom grant types
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client/OpenIddictClientBuilder.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
  src/OpenIddict.Client/OpenIddictClientModels.cs
  src/OpenIddict.Client/OpenIddictClientService.cs
Labels: enhancement, client stack

#2034 Add Wikimedia to the list of supported providers
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Userinfo.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: web providers

#2035 Add Todoist to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Userinfo.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: web providers

#2036 Do not throw an exception when the normalized user code is empty.
  src/OpenIddict.Server/OpenIddictServerHandlers.Protection.cs
Labels: bug, server stack

#2037 Consider user codes invalid when no client_id claim could be resolved from the AuthenticateResult
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/Controllers/AuthorizationController.cs
Labels: bug

#2039 Add Clever to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Userinfo.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: web providers

#2040 Add Classlink to the list of supported providers
  sandbox/OpenIddict.Sandbox.Console.Client/InteractiveService.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xsd
Labels: web providers

#2041 Bump the .NET SDK and the .NET dependencies
  .github/workflows/build.yml
  Directory.Packages.props
  global.json
  sandbox/OpenIddict.Sandbox.Console.Client/InteractiveService.cs
Labels: dependencies

#2042 Make user codes fully configurable and remove token length assumptions
  Directory.Build.targets
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/Controllers/AuthorizationController.cs
  shared/OpenIddict.Extensions/OpenIddictHelpers.cs
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client/OpenIddictClientEvents.Protection.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Protection.cs
  src/OpenIddict.Server/OpenIddictServerBuilder.cs
  src/OpenIddict.Server/OpenIddictServerConfiguration.cs
  src/OpenIddict.Server/OpenIddictServerEvents.Protection.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Protection.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.cs
  src/OpenIddict.Server/OpenIddictServerOptions.cs
  src/OpenIddict.Validation/OpenIddictValidationEvents.Protection.cs
  src/OpenIddict.Validation/OpenIddictValidationHandlers.Protection.cs
  test/OpenIddict.Server.Tests/OpenIddictServerBuilderTests.cs
Labels: enhancement, server stack

#2044 Remove `Uri.IsWellFormedOriginalString()`/`Uri.IsWellFormedUriString()`
  gen/OpenIddict.Client.WebIntegration.Generators/OpenIddictClientWebIntegrationGenerator.cs
  shared/OpenIddict.Extensions/OpenIddictHelpers.cs
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreHandlers.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinHandlers.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationActivation.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHelpers.cs
  src/OpenIddict.Client/OpenIddictClientBuilder.cs
  src/OpenIddict.Client/OpenIddictClientConfiguration.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Authentication.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Device.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Discovery.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Session.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
  src/OpenIddict.Client/OpenIddictClientRetriever.cs
  src/OpenIddict.Client/OpenIddictClientService.cs
  src/OpenIddict.Core/Managers/OpenIddictApplicationManager.cs
  src/OpenIddict.Server/OpenIddictServerBuilder.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Authentication.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Session.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.cs
  src/OpenIddict.Validation/OpenIddictValidationBuilder.cs
  src/OpenIddict.Validation/OpenIddictValidationConfiguration.cs
  src/OpenIddict.Validation/OpenIddictValidationHandlers.Discovery.cs
  src/OpenIddict.Validation/OpenIddictValidationHandlers.cs
  src/OpenIddict.Validation/OpenIddictValidationRetriever.cs
  src/OpenIddict.Validation/OpenIddictValidationService.cs
Labels: enhancement, server stack, validation stack, client stack

#2046 Update the UniversalWindowsPlatformTargetFrameworks condition to ensure the correct Windows Kit version is installed
  Directory.Build.props
Labels: enhancement, system integration

#2047 Use <TfmSpecificPackageFile> instead of <None> to add the lib placeholders to metapackages
  Directory.Build.props
  Directory.Build.targets
  OpenIddict.sln
  eng/_._
  src/OpenIddict.AspNetCore/OpenIddict.AspNetCore.csproj
  src/OpenIddict.Owin/OpenIddict.Owin.csproj
  src/OpenIddict.Owin/_._
  src/OpenIddict/OpenIddict.csproj
  src/OpenIddict/_._
Labels: enhancement, packaging
