Repository openiddict/openiddict-core, pull requests merged in 2024-12, with the labels that each got.

#2232 Add methods for registering multiple certificates and keys for Client/Server/Validation
  src/OpenIddict.Client/OpenIddictClientBuilder.cs
  src/OpenIddict.Server/OpenIddictServerBuilder.cs
  src/OpenIddict.Validation/OpenIddictValidationBuilder.cs
Labels: enhancement, server stack, validation stack, client stack, community contribution

#2233 Add Eve Online to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Discovery.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers, community contribution

#2236 Update `OpenIddictMessage.ToString()` to redact custom parameters whose name ends with "_token"
  .github/workflows/build.yml
  shared/OpenIddict.Extensions/OpenIddictHelpers.cs
  src/OpenIddict.Abstractions/Primitives/OpenIddictMessage.cs
  test/OpenIddict.Abstractions.Tests/Primitives/OpenIddictMessageTests.cs
  test/OpenIddict.Abstractions.Tests/Primitives/OpenIddictParameterTests.cs
Labels: enhancement, server stack, validation stack, client stack, core stack

#2237 Update the build workflow to use "dotnet nuget" instead of "nuget"
  .github/workflows/build.yml
Labels: bug, infrastructure

#2238 Fix where clause of `OpenIddictEntityFrameworkCoreAuthorizationStore#FindByApplicationIdAsync
  src/OpenIddict.EntityFrameworkCore/Stores/OpenIddictEntityFrameworkCoreAuthorizationStore.cs
Labels: bug, core stack
