Repository openiddict/openiddict-core, pull requests merged in 2024-06, with the labels that each got.

#2087 Update the OpenIddict client system integration package to support POST callback requests
  Directory.Packages.props
  shared/OpenIddict.Extensions/OpenIddictHelpers.cs
  src/OpenIddict.Abstractions/Primitives/OpenIddictMessage.cs
  src/OpenIddict.Abstractions/Primitives/OpenIddictRequest.cs
  src/OpenIddict.Abstractions/Primitives/OpenIddictResponse.cs
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreHandlers.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinHandlers.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddict.Client.SystemIntegration.csproj
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.Authentication.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.Session.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.cs
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreHandlers.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinHandlers.cs
Labels: enhancement, client stack, system integration

#2088 Allow using response_type=token with PKCE when response type permissions are enforced
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Authentication.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Authentication.cs
Labels: enhancement, server stack

#2089 Allow specifying an explicit code challenge method/grant type/response type/response mode per challenge when using `OpenIddictClientService` or the ASP.NET Core/OWIN integrations
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/Startup.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/Worker.cs
  sandbox/OpenIddict.Sandbox.Console.Client/InteractiveService.cs
  sandbox/OpenIddict.Sandbox.Console.Client/Program.cs
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreConstants.cs
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreHandlers.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinConstants.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinHandlers.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
  src/OpenIddict.Client/OpenIddictClientModels.cs
  src/OpenIddict.Client/OpenIddictClientService.cs
Labels: enhancement, client stack

#2090 Only require a response_type to be set when using the authorization code or implicit grants
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
Labels: bug, client stack

#2091 Add KOOK to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Userinfo.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#2092 Add Gitee to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#2093 Update the KOOK definition to remove the unnecessary `<GrantType />` node
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#2094 Add a trailing slash in DocuSign's development issuer
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: web providers

#2095 Add Huawei to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Device.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Discovery.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Exchange.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers, community contribution

#2099 Update the system integration package to support response_mode=fragment for requests handled via protocol activation or using the web authentication broker
  shared/OpenIddict.Extensions/OpenIddictHelpers.cs
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreHandlers.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinHandlers.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
Labels: enhancement, client stack, system integration

#2097 Add Feishu (Lark) to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers, community contribution

#2100 Update OpenIddictParameter to return "true" and "false" for string/string array conversions
  src/OpenIddict.Abstractions/Primitives/OpenIddictParameter.cs
  test/OpenIddict.Abstractions.Tests/Primitives/OpenIddictParameterTests.cs
Labels: enhancement, server stack, validation stack, client stack

#2101 Allow negotiating response_mode=fragment/form_post in more cases
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.cs
Labels: bug, client stack, system integration

#2098 Add Weibo to the list of supported providers
  gen/OpenIddict.Client.WebIntegration.Generators/OpenIddictClientWebIntegrationGenerator.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Userinfo.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xsd
Labels: enhancement, web providers, community contribution

#2102 Fix the ExtractWebAuthenticationResultData event handler to correctly set the request instance
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.cs
Labels: bug, client stack, system integration

#2103 Fix the XML documentation associated with the AdjustRedirectUriInTokenRequest event handler
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreHandlers.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
Labels: enhancement

#2104 Bump Wilson to 7.6.1
  Directory.Packages.props
Labels: dependencies

#2105 Bump the .NET SDK and the .NET/ASP.NET Core dependencies
  .github/workflows/build.yml
  Directory.Packages.props
  global.json
Labels: dependencies

#2106 Remove a duplicate switch case in OpenIddictParameter
  src/OpenIddict.Abstractions/Primitives/OpenIddictParameter.cs
Labels: enhancement

#2107 Introduce a new built-in RequireEmbeddedWebServerEnabled filter
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationExtensions.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlerFilters.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.cs
Labels: enhancement, system integration

#2109 Replace the MSBuild.Microsoft.VisualStudio.Web.targets reference by a local copy
  eng/Tools.props
  eng/msbuild/web/Web/CollectFiles/Microsoft.Web.Publishing.AllFilesInProjectFolder.targets
  eng/msbuild/web/Web/CollectFiles/Microsoft.Web.Publishing.AllFilesInTheProject.targets
  eng/msbuild/web/Web/CollectFiles/Microsoft.Web.Publishing.OnlyFilesToRunTheApp.targets
  eng/msbuild/web/Web/Deploy/Microsoft.Web.Publishing.Deploy.FPSE.targets
  eng/msbuild/web/Web/Deploy/Microsoft.Web.Publishing.Deploy.FTP.targets
  eng/msbuild/web/Web/Deploy/Microsoft.Web.Publishing.Deploy.FileSystem.targets
  eng/msbuild/web/Web/Deploy/Microsoft.Web.Publishing.Deploy.MsDeploy.targets
  eng/msbuild/web/Web/Deploy/Microsoft.Web.Publishing.Deploy.Package.targets
  eng/msbuild/web/Web/Deploy/Microsoft.Web.Publishing.MsDeploy.Common.targets
  eng/msbuild/web/Web/Microsoft.DNX.Publishing.targets
  eng/msbuild/web/Web/Microsoft.Web.Publishing.Tasks.dll
  eng/msbuild/web/Web/Microsoft.Web.Publishing.targets
  eng/msbuild/web/Web/Microsoft.Web.Publishing/ImportAfter/Microsoft.Web.AzureAD.Publishing.targets
  eng/msbuild/web/Web/Microsoft.Web.XmlTransform.dll
  eng/msbuild/web/Web/Microsoft.WebSite.Publishing.targets
  eng/msbuild/web/Web/Powershell/1.0.1/default-publish.ps1
  eng/msbuild/web/Web/Powershell/1.0.1/filesystem.pubxml
  eng/msbuild/web/Web/Powershell/1.0.1/package.pubxml
  eng/msbuild/web/Web/Powershell/1.0.1/publish-module.psm1
  eng/msbuild/web/Web/Transform/Microsoft.Web.Publishing.AspNetCompileMerge.targets
  eng/msbuild/web/WebApplications/Microsoft.WebApplication.Build.Tasks.Dll
  eng/msbuild/web/WebApplications/Microsoft.WebApplication.targets
  sandbox/OpenIddict.Sandbox.AspNet.Client/OpenIddict.Sandbox.AspNet.Client.csproj
  sandbox/OpenIddict.Sandbox.AspNet.Server/OpenIddict.Sandbox.AspNet.Server.csproj
Labels: enhancement

#2108 Introduce iOS support in the OpenIddict client system integration package
  Directory.Build.props
  Directory.Build.targets
  eng/Tools.props
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client.SystemIntegration/OpenIddict.Client.SystemIntegration.csproj
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationAuthenticationMode.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationBuilder.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationConfiguration.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationExtensions.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlerFilters.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.Authentication.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.Session.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHelpers.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationService.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpConfiguration.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpConfiguration.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHandlers.cs
  src/OpenIddict/OpenIddict.csproj
Labels: enhancement, client stack, system integration

#2110 Add a MAUI client sample
  Directory.Build.props
  Directory.Build.targets
  Directory.Packages.props
  OpenIddict.sln
  sandbox/OpenIddict.Sandbox.AspNetCore.Client/OpenIddict.Sandbox.AspNetCore.Client.csproj
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/OpenIddict.Sandbox.AspNetCore.Server.csproj
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/Worker.cs
  sandbox/OpenIddict.Sandbox.Console.Client/OpenIddict.Sandbox.Console.Client.csproj
  sandbox/OpenIddict.Sandbox.Maui.Client/App.xaml
  sandbox/OpenIddict.Sandbox.Maui.Client/App.xaml.cs
  sandbox/OpenIddict.Sandbox.Maui.Client/AppShell.xaml
  sandbox/OpenIddict.Sandbox.Maui.Client/AppShell.xaml.cs
  sandbox/OpenIddict.Sandbox.Maui.Client/MainPage.xaml
  sandbox/OpenIddict.Sandbox.Maui.Client/MainPage.xaml.cs
  sandbox/OpenIddict.Sandbox.Maui.Client/MauiHostApplicationLifetime.cs
  sandbox/OpenIddict.Sandbox.Maui.Client/MauiHostedServiceAdapter.cs
  sandbox/OpenIddict.Sandbox.Maui.Client/MauiProgram.cs
  sandbox/OpenIddict.Sandbox.Maui.Client/OpenIddict.Sandbox.Maui.Client.csproj
  sandbox/OpenIddict.Sandbox.Maui.Client/Platforms/Windows/App.xaml
  sandbox/OpenIddict.Sandbox.Maui.Client/Platforms/Windows/App.xaml.cs
  sandbox/OpenIddict.Sandbox.Maui.Client/Platforms/Windows/Package.appxmanifest
  sandbox/OpenIddict.Sandbox.Maui.Client/Platforms/Windows/app.manifest
  sandbox/OpenIddict.Sandbox.Maui.Client/Platforms/iOS/AppDelegate.cs
  sandbox/OpenIddict.Sandbox.Maui.Client/Platforms/iOS/Info.plist
  sandbox/OpenIddict.Sandbox.Maui.Client/Platforms/iOS/Program.cs
  sandbox/OpenIddict.Sandbox.Maui.Client/Program.cs
  sandbox/OpenIddict.Sandbox.Maui.Client/Properties/launchSettings.json
  sandbox/OpenIddict.Sandbox.Maui.Client/Resources/AppIcon/appicon.svg
  sandbox/OpenIddict.Sandbox.Maui.Client/Resources/AppIcon/appiconfg.svg
  sandbox/OpenIddict.Sandbox.Maui.Client/Resources/Fonts/OpenSans-Regular.ttf
  sandbox/OpenIddict.Sandbox.Maui.Client/Resources/Fonts/OpenSans-Semibold.ttf
  sandbox/OpenIddict.Sandbox.Maui.Client/Resources/Images/dotnet_bot.svg
  sandbox/OpenIddict.Sandbox.Maui.Client/Resources/Raw/AboutAssets.txt
  sandbox/OpenIddict.Sandbox.Maui.Client/Resources/Splash/splash.svg
  sandbox/OpenIddict.Sandbox.Maui.Client/Resources/Styles/Colors.xaml
  sandbox/OpenIddict.Sandbox.Maui.Client/Resources/Styles/Styles.xaml
  sandbox/OpenIddict.Sandbox.Maui.Client/Worker.cs
  sandbox/OpenIddict.Sandbox.WinForms.Client/OpenIddict.Sandbox.WinForms.Client.csproj
  sandbox/OpenIddict.Sandbox.Wpf.Client/OpenIddict.Sandbox.Wpf.Client.csproj
  src/OpenIddict.Client.SystemIntegration/OpenIddict.Client.SystemIntegration.csproj
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.Authentication.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.Session.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHelpers.cs
  src/OpenIddict/OpenIddict.csproj
Labels: enhancement

#2111 Fix an issue preventing the deployment of the OpenIddict.Sandbox.Maui.Client project
  sandbox/OpenIddict.Sandbox.Maui.Client/OpenIddict.Sandbox.Maui.Client.csproj
Labels: bug

#2112 Fix a bug preventing [SupportedOSPlatform] from being correctly set
  Directory.Build.props
  Directory.Build.targets
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHelpers.cs
Labels: bug, system integration

#2113 Add net7.0-ios12.0 and net7.0-ios13.0 target framework monikers
  Directory.Build.props
Labels: enhancement, system integration

#2114 Update the MAUI sample to use a label instead of a modal alert
  Directory.Build.targets
  sandbox/OpenIddict.Sandbox.Maui.Client/MainPage.xaml
  sandbox/OpenIddict.Sandbox.Maui.Client/MainPage.xaml.cs
Labels: enhancement

#2115 Remove the .NET 7.0 iOS TFMs and update the MAUI sample to disable server certificate validation on iOS to make testing easier
  Directory.Build.props
  sandbox/OpenIddict.Sandbox.Maui.Client/MauiProgram.cs
Labels: system integration

#2116 Update OpenIddict.Client.SystemIntegration to target Mac Catalyst 13.1+ and macOS 10.15+
  Directory.Build.props
  Directory.Build.targets
  sandbox/OpenIddict.Sandbox.Maui.Client/App.xaml.cs
  sandbox/OpenIddict.Sandbox.Maui.Client/AppShell.xaml.cs
  sandbox/OpenIddict.Sandbox.Maui.Client/MainPage.xaml.cs
  sandbox/OpenIddict.Sandbox.Maui.Client/MauiHostApplicationLifetime.cs
  sandbox/OpenIddict.Sandbox.Maui.Client/MauiHostedServiceAdapter.cs
  sandbox/OpenIddict.Sandbox.Maui.Client/MauiProgram.cs
  sandbox/OpenIddict.Sandbox.Maui.Client/OpenIddict.Sandbox.Maui.Client.csproj
  sandbox/OpenIddict.Sandbox.Maui.Client/Platforms/MacCatalyst/AppDelegate.cs
  sandbox/OpenIddict.Sandbox.Maui.Client/Platforms/MacCatalyst/Entitlements.plist
  sandbox/OpenIddict.Sandbox.Maui.Client/Platforms/MacCatalyst/Info.plist
  sandbox/OpenIddict.Sandbox.Maui.Client/Platforms/MacCatalyst/Program.cs
  sandbox/OpenIddict.Sandbox.Maui.Client/Program.cs
  sandbox/OpenIddict.Sandbox.Maui.Client/Worker.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddict.Client.SystemIntegration.csproj
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationAuthenticationMode.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationBuilder.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationConfiguration.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationExtensions.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlerFilters.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.Authentication.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.Session.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHelpers.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationService.cs
  src/OpenIddict/OpenIddict.csproj
Labels: enhancement, system integration

#2117 Do not enable activation handling/redirection and the pipe/embedded web servers by default on Mac Catalyst and macOS
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationConfiguration.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.Authentication.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.Session.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.cs
Labels: enhancement, system integration
