Repository openiddict/openiddict-core, pull requests merged in 2024-07, with the labels that each got.

#2118 Introduce runtime checks preventing the non-platform-specific version of OpenIddict.Client.SystemIntegration from being used on iOS/macOS/Mac Catalyst
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationConfiguration.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationExtensions.cs
Labels: enhancement, system integration

#2120 Port build improvements from aspnet-contrib
  .github/workflows/build.yml
  .github/workflows/push.yml
Labels: infrastructure

#2121 Update the build workflow to select the latest Xcode version and allow building macOS/Mac Catalyst/iOS packages on macOS
  .github/workflows/build.yml
  Directory.Build.props
  OpenIddict.sln
  eng/Build.props
  sandbox/OpenIddict.Sandbox.Maui.Client/OpenIddict.Sandbox.Maui.Client.csproj
Labels: enhancement, infrastructure

#2122 Move the AddAssemblyAliasToReactiveAsync target to Directory.Build.targets
  Directory.Build.targets
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/OpenIddict.Sandbox.AspNetCore.Server.csproj
  src/OpenIddict.EntityFrameworkCore/OpenIddict.EntityFrameworkCore.csproj
Labels: infrastructure

#2123 Update the application discriminator and instance identifier generation logic to produce shorter pipe names
  sandbox/OpenIddict.Sandbox.WinForms.Client/OpenIddict.Sandbox.WinForms.Client.csproj
  sandbox/OpenIddict.Sandbox.Wpf.Client/OpenIddict.Sandbox.Wpf.Client.csproj
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationConfiguration.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationExtensions.cs
Labels: enhancement, system integration

#2124 Do not remove the System.Net.Http global using
  Directory.Build.targets
Labels: infrastructure

#2125 Abort challenge and sign-out demands handled by InvokeASWebAuthenticationSession when an HTTP or HTTPS callback URI is used
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.Authentication.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.Session.cs
Labels: enhancement, system integration

#2126 Add Pipedrive to the list of supported providers
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationConfiguration.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationOptions.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Discovery.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Userinfo.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: web providers

#2127 Add Airtable to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: web providers

#2128 Add Calendly to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Userinfo.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: web providers

#2129 Add Typeform to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: web providers

#2130 Add Zoho to the list of supported providers
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Device.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Discovery.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: web providers

#2131 Replace [SupportedOSPlatform("maccatalyst13.0")] by [SupportedOSPlatform("maccatalyst13.1")]
  src/OpenIddict.Client.Owin/OpenIddictClientOwinMiddlewareFactory.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationAuthenticationMode.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationBuilder.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHelpers.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationService.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinMiddlewareFactory.cs
  src/OpenIddict.Validation.Owin/OpenIddictValidationOwinMiddlewareFactory.cs
Labels: system integration

#2132 Make "dotnet workload restore" conditional
  .github/workflows/build.yml
  Directory.Build.props
  eng/Tools.props
Labels: infrastructure

#2135 Introduce Android support
  Directory.Build.props
  Directory.Build.targets
  Directory.Packages.props
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client.SystemIntegration/OpenIddict.Client.SystemIntegration.csproj
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationActivationHandler.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationAuthenticationMode.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationBuilder.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationConfiguration.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationExtensions.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlerFilters.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.Authentication.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.Session.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHelpers.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHttpListener.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationService.cs
  src/OpenIddict/OpenIddict.csproj
Labels: enhancement, system integration

#2138 Update Directory.Build.props to target iOS 17.2, Mac Catalyst 17.2 and macOS 14.2
  Directory.Build.props
Labels: system integration

#2139 React to ASWebAuthenticationSessionCompletionHandler.Error becoming nullable in .NET 9.0
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.Authentication.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.Session.cs
Labels: system integration

#2140 React to PrimaryHandler no longer being an HttpClientHandler instance when using Microsoft.Extensions.Http 9.0
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpConfiguration.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpExtensions.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpConfiguration.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpExtensions.cs
Labels: bug, external

#2141 Change the packages project URL to point to openiddict.com
  Directory.Build.props
Labels: enhancement

#2143 Adding SAML2P link
  README.md
Labels: enhancement, community contribution

#2145 Remove the unnecessary <picture> node
  README.md
Labels: enhancement

#2146 Bump EntityFramework to 6.5.1 on .NET 6.0 and higher
  Directory.Packages.props
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpConfiguration.cs
Labels: dependencies

#2147 Use Wilson 8.0 on .NET 8.0 and remove the System.* references that are brought transitively
  Directory.Packages.props
  src/OpenIddict.Abstractions/OpenIddict.Abstractions.csproj
Labels: dependencies

#2148 Bump the .NET SDK and the .NET dependencies
  Directory.Packages.props
  global.json
Labels: dependencies

#2149 Use a hyphen instead of a backslash as the pipe name/identifier separator
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationPipeListener.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationService.cs
Labels: enhancement, system integration

#2150 Rename the `RequireHttpMetadataUri` filter to `RequireHttpUri` and fix the `NormalizeContentType` handler to use it
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpExtensions.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlerFilters.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.Device.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.Exchange.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.Introspection.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.Revocation.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.Userinfo.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Exchange.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Revocation.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Userinfo.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpExtensions.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHandlerFilters.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHandlers.Introspection.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHandlers.cs
Labels: enhancement, validation stack, client stack, web providers

#2152 Propage exceptions thrown during the embedded web server initialization
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHttpListener.cs
Labels: enhancement, system integration

#2153 Update the WinForms sample to support High DPI
  Directory.Build.targets
  sandbox/OpenIddict.Sandbox.WinForms.Client/App.config
  sandbox/OpenIddict.Sandbox.WinForms.Client/OpenIddict.Sandbox.WinForms.Client.csproj
  sandbox/OpenIddict.Sandbox.WinForms.Client/Program.cs
  sandbox/OpenIddict.Sandbox.WinForms.Client/app.manifest
Labels: enhancement

#2154 Bump IdentityModel to 8.0.1
  Directory.Packages.props
Labels: dependencies

#2155 Use a TryAddEnumerable() call per service registration to avoid unnecessary allocations
  sandbox/OpenIddict.Sandbox.WinForms.Client/app.manifest
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreExtensions.cs
  src/OpenIddict.Client.DataProtection/OpenIddictClientDataProtectionExtensions.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinExtensions.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationExtensions.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpExtensions.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationExtensions.cs
  src/OpenIddict.Quartz/OpenIddictQuartzExtensions.cs
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreExtensions.cs
  src/OpenIddict.Server.DataProtection/OpenIddictServerDataProtectionExtensions.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinExtensions.cs
  src/OpenIddict.Validation.AspNetCore/OpenIddictValidationAspNetCoreExtensions.cs
  src/OpenIddict.Validation.DataProtection/OpenIddictValidationDataProtectionExtensions.cs
  src/OpenIddict.Validation.Owin/OpenIddictValidationOwinExtensions.cs
  src/OpenIddict.Validation.ServerIntegration/OpenIddictValidationServerIntegrationExtensions.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpExtensions.cs
Labels: enhancement, server stack, validation stack, client stack, web providers, core stack, system integration

#2142 Add Twitch to the supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Discovery.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: web providers, community contribution
