Repository openiddict/openiddict-core, pull requests merged in 2025-02, with the labels that each got.

#2246 Add GitCode to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: web providers, community contribution

#2244 Add Yandex and VK ID web providers
  src/OpenIddict.Abstractions/OpenIddictResources.resx
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Revocation.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Userinfo.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: web providers, community contribution

#2251 Update the query used for authorizations pruning to exclude all authorizations that still have tokens attached
  src/OpenIddict.Abstractions/Managers/IOpenIddictAuthorizationManager.cs
  src/OpenIddict.Abstractions/Stores/IOpenIddictAuthorizationStore.cs
  src/OpenIddict.EntityFramework/Stores/OpenIddictEntityFrameworkAuthorizationStore.cs
  src/OpenIddict.EntityFrameworkCore/Stores/OpenIddictEntityFrameworkCoreAuthorizationStore.cs
  src/OpenIddict.MongoDb/Stores/OpenIddictMongoDbAuthorizationStore.cs
  src/OpenIddict.Quartz/OpenIddictQuartzJob.cs
Labels: enhancement, core stack

#2252 Bump the .NET and third-party dependencies
  Directory.Packages.props
  WorkloadRollback.json
  global.json
Labels: dependencies

#2255 Add reference to OpenIddict on AWS Serverless with Interactive Login post
  README.md
Labels: community contribution

#2258 Do not reject end session requests that don't include an explicit client_id when request caching is used
  src/OpenIddict.Server/OpenIddictServerHandlers.Session.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Session.cs
Labels: bug, server stack

#2256 Add Alibaba Cloud (Aliyun) to the list of supported providers
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Discovery.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Exchange.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: web providers, community contribution
