Repository openiddict/openiddict-core, pull requests merged in 2025-04, with the labels that each got.

#2288 Excludes Jetbrains IDE folders
  .gitignore
Labels: enhancement, community contribution

#2289 Stop special-casing the prompt parameter in PAR-enabled authorization requests and update the samples to use `TempData` to determine whether the user should be redirected to the login endpoint
  sandbox/OpenIddict.Sandbox.AspNet.Server/Controllers/AuthorizationController.cs
  sandbox/OpenIddict.Sandbox.AspNetCore.Server/Controllers/AuthorizationController.cs
  src/OpenIddict.MongoDb/OpenIddictMongoDbExtensions.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Authentication.cs
Labels: bug, server stack

#2290 Use a static C# lang version in Directory.Build.props
  Directory.Build.props
Labels: enhancement, infrastructure

#2291 Update the `JsonNode.WriteTo()` calls to use the internal `JsonSerializerOptions`
  src/OpenIddict.Abstractions/Primitives/OpenIddictParameter.cs
Labels: enhancement

#2292 Update ID0051 description
  src/OpenIddict.Abstractions/OpenIddictResources.resx
Labels: bug, server stack

#2293 Do not mark the .NET 8.0 TFMs as AOT-compatible and use `TypeDescriptor.RegisterType<T>()`/`TypeDescriptor.GetConverterFromRegisteredType()` on .NET 9.0+
  Directory.Build.targets
  src/OpenIddict.Client/OpenIddictClientDispatcher.cs
  src/OpenIddict.EntityFramework/OpenIddictEntityFrameworkBuilder.cs
  src/OpenIddict.EntityFramework/Stores/OpenIddictEntityFrameworkApplicationStore.cs
  src/OpenIddict.EntityFramework/Stores/OpenIddictEntityFrameworkAuthorizationStore.cs
  src/OpenIddict.EntityFramework/Stores/OpenIddictEntityFrameworkScopeStore.cs
  src/OpenIddict.EntityFramework/Stores/OpenIddictEntityFrameworkTokenStore.cs
  src/OpenIddict.EntityFrameworkCore/OpenIddictEntityFrameworkCoreBuilder.cs
  src/OpenIddict.EntityFrameworkCore/Stores/OpenIddictEntityFrameworkCoreApplicationStore.cs
  src/OpenIddict.EntityFrameworkCore/Stores/OpenIddictEntityFrameworkCoreAuthorizationStore.cs
  src/OpenIddict.EntityFrameworkCore/Stores/OpenIddictEntityFrameworkCoreScopeStore.cs
  src/OpenIddict.EntityFrameworkCore/Stores/OpenIddictEntityFrameworkCoreTokenStore.cs
  src/OpenIddict.Server/OpenIddictServerDispatcher.cs
  src/OpenIddict.Validation/OpenIddictValidationDispatcher.cs
Labels: enhancement, core stack

#2294 Fix Caching strategy on form_post html
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreHandlers.Authentication.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinHandlers.Authentication.cs
Labels: bug, server stack, community contribution

#2295 Update the Twitter provider to use x.com
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationProviders.xml
Labels: enhancement, web providers

#2297 Update `GenerateTokenContext` to expose `SecurityTokenDescriptor` and adopt the new URI-style token type identifiers in the client, core, server and validation stacks
  src/OpenIddict.Abstractions/OpenIddictConstants.cs
  src/OpenIddict.Client.DataProtection/OpenIddictClientDataProtectionHandlers.Protection.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.Exchange.cs
  src/OpenIddict.Client.WebIntegration/OpenIddictClientWebIntegrationHandlers.cs
  src/OpenIddict.Client/OpenIddictClientEvents.Protection.cs
  src/OpenIddict.Client/OpenIddictClientHandlerFilters.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Introspection.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Protection.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
  src/OpenIddict.Core/Managers/OpenIddictAuthorizationManager.cs
  src/OpenIddict.Core/Managers/OpenIddictTokenManager.cs
  src/OpenIddict.Server.DataProtection/OpenIddictServerDataProtectionHandlers.Protection.cs
  src/OpenIddict.Server/OpenIddictServerEvents.Protection.cs
  src/OpenIddict.Server/OpenIddictServerHandlerFilters.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Introspection.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Protection.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Revocation.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.cs
  src/OpenIddict.Server/OpenIddictServerOptions.cs
  src/OpenIddict.Validation.DataProtection/OpenIddictValidationDataProtectionHandlers.Protection.cs
  src/OpenIddict.Validation.Owin/OpenIddictValidationOwinConstants.cs
  src/OpenIddict.Validation.Owin/OpenIddictValidationOwinHandler.cs
  src/OpenIddict.Validation/OpenIddictValidationEvents.Protection.cs
  src/OpenIddict.Validation/OpenIddictValidationHandlerFilters.cs
  src/OpenIddict.Validation/OpenIddictValidationHandlers.Introspection.cs
  src/OpenIddict.Validation/OpenIddictValidationHandlers.Protection.cs
  src/OpenIddict.Validation/OpenIddictValidationHandlers.cs
  src/OpenIddict.Validation/OpenIddictValidationOptions.cs
  test/OpenIddict.Abstractions.Tests/Primitives/OpenIddictExtensionsTests.cs
  test/OpenIddict.Server.AspNetCore.IntegrationTests/OpenIddictServerAspNetCoreIntegrationTests.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Authentication.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Device.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Exchange.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Introspection.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Protection.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Revocation.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Session.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.Userinfo.cs
  test/OpenIddict.Server.IntegrationTests/OpenIddictServerIntegrationTests.cs
  test/OpenIddict.Server.Owin.IntegrationTests/OpenIddictServerOwinIntegrationTests.cs
  test/OpenIddict.Validation.AspNetCore.IntegrationTests/OpenIddictValidationAspNetCoreIntegrationTests.cs
  test/OpenIddict.Validation.IntegrationTests/OpenIddictValidationIntegrationTests.cs
  test/OpenIddict.Validation.Owin.IntegrationTests/OpenIddictValidationOwinIntegrationTests.cs
Labels: enhancement, important, server stack, validation stack, client stack, core stack, abstractions

#2301 Reduce the number of `OpenIddictParameter.GetUnnamedParameters()` calls
  src/OpenIddict.Client/OpenIddictClientHandlers.Discovery.cs
  src/OpenIddict.Validation/OpenIddictValidationHandlers.Discovery.cs
Labels: enhancement, validation stack, client stack

#2302 Fix the `OpenIddictClientModels` records to only use init setters
  src/OpenIddict.Client/OpenIddictClientModels.cs
Labels: bug, client stack

#2303 Add "Running locally" section to the README file
  README.md
Labels: enhancement, community contribution

#2305 Attach event identifiers to all the log messages
  src/OpenIddict.Client.AspNetCore/OpenIddictClientAspNetCoreHandlers.cs
  src/OpenIddict.Client.DataProtection/OpenIddictClientDataProtectionHandlers.Protection.cs
  src/OpenIddict.Client.Owin/OpenIddictClientOwinHandlers.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.Authentication.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.Session.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHandlers.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationHttpListener.cs
  src/OpenIddict.Client.SystemIntegration/OpenIddictClientSystemIntegrationPipeListener.cs
  src/OpenIddict.Client.SystemNetHttp/OpenIddictClientSystemNetHttpHandlers.cs
  src/OpenIddict.Client/OpenIddictClientDispatcher.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Authentication.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Device.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Discovery.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Exchange.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Introspection.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Protection.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Revocation.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Session.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.Userinfo.cs
  src/OpenIddict.Client/OpenIddictClientHandlers.cs
  src/OpenIddict.Client/OpenIddictClientService.cs
  src/OpenIddict.Core/Managers/OpenIddictApplicationManager.cs
  src/OpenIddict.Core/Managers/OpenIddictAuthorizationManager.cs
  src/OpenIddict.Core/Managers/OpenIddictTokenManager.cs
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreHandlers.Authentication.cs
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreHandlers.Device.cs
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreHandlers.Session.cs
  src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreHandlers.cs
  src/OpenIddict.Server.DataProtection/OpenIddictServerDataProtectionHandlers.Protection.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinHandlers.Authentication.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinHandlers.Device.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinHandlers.Session.cs
  src/OpenIddict.Server.Owin/OpenIddictServerOwinHandlers.cs
  src/OpenIddict.Server/OpenIddictServerDispatcher.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Authentication.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Device.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Discovery.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Exchange.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Introspection.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Protection.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Revocation.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Session.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.Userinfo.cs
  src/OpenIddict.Server/OpenIddictServerHandlers.cs
  src/OpenIddict.Validation.AspNetCore/OpenIddictValidationAspNetCoreHandlers.cs
  src/OpenIddict.Validation.DataProtection/OpenIddictValidationDataProtectionHandlers.Protection.cs
  src/OpenIddict.Validation.Owin/OpenIddictValidationOwinHandlers.cs
  src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHandlers.cs
  src/OpenIddict.Validation/OpenIddictValidationDispatcher.cs
  src/OpenIddict.Validation/OpenIddictValidationHandlers.Discovery.cs
  src/OpenIddict.Validation/OpenIddictValidationHandlers.Introspection.cs
  src/OpenIddict.Validation/OpenIddictValidationHandlers.Protection.cs
  src/OpenIddict.Validation/OpenIddictValidationHandlers.cs
  src/OpenIddict.Validation/OpenIddictValidationService.cs
Labels: enhancement, server stack, validation stack, client stack, core stack, system integration
